<div class="modal fade"
     id="invalid-exemption-modal"
     tabindex="-1"
     role="dialog" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <section>

      <header class="modal-header">
        <h4 class="title">Exemption Status Warning</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </header>

      <article>
        <div style="text-align: center">
          To qualify for exemption an employee must meet the following requirements:

          <br /><br />
          <ul style="list-style: disc outside none; display: inline-block; text-align: left">
            <li>Perform Exempt Job Duties</li>
            <li>Be a salaried employer</li>
            <li>Earn more than $23,660 a year</li>
          </ul>
          <br />
          <br />
          Since there are numerous exemptions and exceptions you may override
          this value. If you want to learn more about FLSA, read the link
          below.<br /><br />

          <a href="https://www.dol.gov/whd/flsa/index.htm" target="_blank">
            Read More
          </a>
        </div>
      </article>
    </section>
  </div>
</div>
