<div class="frame">
  <section>
    <article>
      <%= link_to "Companies", admin_companies_path %>
      <br><br>
      <%= link_to "Impersonations", new_admin_impersonation_path %>
      <br><br>
      <%= link_to "Plans", admin_plans_path %>
      <br><br>
      <%= link_to "Features", admin_features_path %>
    </article>
  </section>
</div>
