<article class="reporting-time-sheets-user-breakdown">
  <table>
    <thead>
      <tr>
        <th>Employee Name</th>
        <th>Scheduled</th>
        <th>Actual</th>
        <th>Variance</th>
        <th>Reg Hours</th>
        <th>OT Hours</th>
        <th>Wage Estimate</th>
    </thead>
    <% presenter.employees.each do |employee| %>
      <%= render partial: "user_breakdown_row",
        locals: {
          presenter: ::Reporting::TimeSheets::UserBreakdownRowPresenter.new(
            employee: employee,
            hours: presenter.hours_for_user(employee),
            wages: presenter.wages_for_user(employee)
          )
        }
      %>
    <% end %>
  </table>
</article>
