.dashboards-whose-working-location-open {
  .shift {
    border-bottom: 1px solid $gray-light;
    // border-top: 1px solid $gray-light;
    // box-shadow: inset 0 0 4px $blue; //#fafafa;
    display: flex;


    > div {
      display: flex;
      flex-direction: column;
      flex-basis: 1;
      padding: 5px 15px;
    }

    .position {
      margin-left: auto;
      padding-right: 15px;
    }

    .hours {
      min-width: 150px;
      text-align: right;

      &.late {
        background-color: lighten($orange, 10%);
        border-left: 1px solid $orange;
        box-shadow: inset 0 0 4px $orange;
      }

      &.checked-in {
        background-color: $green-notice;
        border-left: 1px solid darken($green-notice, 15%);
        box-shadow: inset 0 0 4px darken($green-notice, 15%);
      }
    }
  }
}
