<div class="blog-posts-tile">
  <section>
    <div>Product Announcements</div>

    <header>
      <h2>We Just Made A Major Update</h2>
    </header>

    <article>
      With our recent update, completely rebuilt on HubSpot's new Timeline API, users on all plans have access to everything Enterprise users have been enjoying. We've...
    </article>

    <footer>
      by Colin Petruno - July 6, 2017
    </footer>
  </section>

  <aside>
    <a href="#">
      <img src="https://embed-ssl.wistia.com/deliveries/fdc6f5783b029525882bb06fff55b4d70b7097cc.jpg?image_crop_resized=704x456" />
    </a>
  </aside>
</div>
