<div class="blog-posts-tile">
  <section>
    <div>Product Announcements</div>

    <header>
      <h2>
        <%= link_to post.title, blog_post_path(post) %>
      </h2>
    </header>

    <article>
      <%= post.preview_description %>
    </article>

    <footer>
      by <span><%= post.creator.full_name %></span> - <%= post.published_at.to_s(:month_day_year) %>
    </footer>
  </section>

  <aside>
    <a href="#">
      <img src="https://embed-ssl.wistia.com/deliveries/fdc6f5783b029525882bb06fff55b4d70b7097cc.jpg?image_crop_resized=704x456" />
    </a>
  </aside>
</div>
