<%= render partial: "shared/marketing/top_nav" %>

<div class="email-captures-thanks">
  <section>
    <article>
      <h3>Thank You!</h3>
      <br />
      We appreciate your interest in Coworkability! We won't email you too
      often and you can unsubscribe anytime.
      <br /><br />
      Coworkability believes that we can only stop harassment and bullying by
      working together. By understanding and respecting each other
      we can make great workplaces.
    </article>

    <article>
      <%= image_tag "coworkability/shares/share_illustration.jpg" %>
    </article>
  </section>
</div>

<%= render partial: "marketing/welcome/shared/divider_bar" %>
<%= render partial: "marketing/welcome/shared/footer" %>
