.onboarding-positions-positions {
  form button[type=submit] {
    background-color: $white;
    border: 0;
    padding: 2px;
    color: $gray-dark;
    color: #67798c;
    font-size: 14px;
  }

  table tr > td:last-child {
    text-align: right;
  }

  table.table tr > td {
    color: #67798c;
    font-size: 14px;

    &:last-child {
      button {
        text-align: right;
      }
      text-align: right;
    }
  }
}
