<div class="public-companies-searches-cant-find">
  <%= link_to new_public_report_path(company_name: company_name) do %>
    Can't find "<%= company_name %>"? Leave a review and we will add it!
  <% end %>
</div>
