<div class="frame">
  <header>
    <div>Approve Schedules</div>
  </header>

  <section>
    <article>
      <% if @scheduling_periods.present? %>
        <table>
          <% @scheduling_periods.each do |scheduling_period| %>
            <tr>
              <td><%= scheduling_period.company.name %></td>
              <td>Location Id: <%= scheduling_period.location_id %></td>
              <td><%= scheduling_period.label %></td>
              <td>
                <%= link_to "View",
                  admin_scheduling_period_path(scheduling_period) %>
              </td>
            </tr>
          <% end %>
        </table>
      <% else %>
        All Schedules Are Approved!
      <% end %>
    </article>
  </section>
</div>
