<div class="rail narrow">
  <section>
    <aside>
      <%= render partial: "admin/companies/sidebar" %>
    </aside>

    <article>

      <div class="frame">
        <header>
          <div>Edit Schedule Rule</div>
        </header>

        <section>
          <article>
            <%= render partial: "form" %>
          </article>
        </section>
      </div>

    </article>
  </section>
</div>
