<div class="rail narrow">
  <section>
    <aside>
      <%= render partial: "admin/companies/sidebar" %>
    </aside>

    <article>

      <div class="frame">
        <header>
          <div>Edit Company</div>
        </header>

        <section>
          <article>
            <% if @schedule_rules.present? %>
              <%= render partial: "schedule_rules",
                      locals: { schedule_rules: @schedule_rules } %>
            <% else %>
              No Schedule Rules... Bad.
            <% end %>

            <div style="margin-top: 20px">
              <%= link_to "New Rule", new_admin_company_schedule_rule_path(@company), class: "button" %>
            </div>
          </article>
        </section>
      </div>

    </article>
  </section>
</div>


