<div class="frame">
  <section>
    <article>
      <div class="instructions">
        <%= t(".instructions_html",
              link: link_to(t(".locations"), locations_path)) %>
      </div>
      <br><br>

      <%= render partial: "schedule_rules",
        locals: { schedule_rules: @schedule_rules } %>

      <br>

      <%= render partial: "form",
         locals: { schedule_rule: @schedule_rule } %>
    </article>
  </section>
</div>
