<div class="frame">
  <section>
    <article>
      <div>
        This sets up some default rules for your locations schedule. It can
        always be customized on a per location basis.
      </div>
      <br>

      <% @schedule_rules.each do |schedule_rule| %>
        <%= render schedule_rule %>
      <% end %>

      <br><br>
      <%= render partial: "form",
         locals: { schedule_rule: @schedule_rule } %>
    </article>
  </section>
</div>
