.alert, .notice {
  border: $alert-border-width solid transparent;
  font-size: 14px;
  margin-bottom: $alert-margin-bottom;
  padding: 6px 10px;
}

.alert {
  @include alert-variant(#f2dede, darken(#f2dede, 15%), #a94442);
}

.notice {
  @include alert-variant($green-notice, darken($green-notice, 15%), darken($green-notice, 50%));
}
