.frame {
  background-color: $white;
  box-shadow: 0 0 20px darken(#5776bd, 10%);
  margin-bottom: 75px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  min-height: 400px;

  @include make-row();

  > div {
    @include make-col-ready();
    @include make-col(9);
  }

  > aside {
    @include make-col-ready();
    @include make-col(3);

    background-color: $dark-blue;
    color: $white;
  }

  form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  section {
    margin-top: 0;
    padding-top: 40px;
  }

  footer {
    margin-top: auto;
    padding: 15px 0;
    padding-top: 50px;
    text-align: right;

    input[type=submit] {
      display: inline-block;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .frame {
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}
