.frame {
  background-color: $white;
  box-shadow: 0 0 20px darken(#5776bd, 10%);
  border-radius: 3px;
  margin-bottom: 75px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  min-height: 400px;

  @include make-row();

  > div {
    @include make-col-ready();
    @include make-col(9);

    // max-height: 475px;
    // min-height: 475px;
    // overflow-y: auto;
  }

  > aside {
    @include make-col-ready();
    @include make-col(3);

    background-color: $dark-blue;
    border-radius: 3px 0 0 3px;
    color: $white;
  }

  form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  section {
    margin-top: 0;
    padding-top: 40px;

    > article {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  footer {
    margin-top: auto;
    padding: 15px 0;
    padding-top: 50px;
    text-align: right;

    input[type=submit] {
      display: inline-block;
    }

    > section {
      @include make-row();
      > div {
        justify-content: center;
        text-align: center;
        @include make-col-ready();
        @include make-col(4);

        &:first-child {
          margin-left: 0;
          text-align: left;
        }

        &:last-child {
          margin-right: 0;
          text-align: right;
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .frame {
    margin-left: 0;
    margin-right: 0;
    > aside, > div {
      @include make-col(12);
    }

    footer {
      text-align: center;
      input[type=submit], .button {
        display: block;
        margin-bottom: 5px;
        width: 100%;
      }
    }
  }
}
