.frame {
  background-color: $white;
  border: 1px solid #d3d3d3;
  box-shadow: 0 0 20px darken($dark-blue, 10%);
  margin-bottom: 75px;
  margin-top: 100px;
  margin-right: 30%;
  min-height: 400px;
  padding: 50px;

  footer {
    margin-top: 20px;
    text-align: right;
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .frame {
    margin-right: 0;
  }
}
