.instructions {
  color: $dark-blue;
  margin-bottom: 30px;

  h1,h2,h3,h4,h5,h6 {
    color: darken($dark-blue, 15%);
    margin-bottom: 5px;
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .instructions {
    text-align: center;
  }
}
