.time_picker_range {
  > div {
    display: flex;
    flex-direction: row;

    > section {
      display: flex;
      padding-top: 0;

      &:first-child {
        margin-right: 15px;
      }

      &:last-child {
        margin-left: 15px;
      }
    }
  }
}
