.logo {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 0;

  > div {
    @include img-retina(
      image-path("shared/logos/scheduleless.png"),
      image-path("shared/logos/scheduleless-2x.png"),
      101px, 75px
    );
    margin-right: 10px;
    width: 100px;
    height: 75px;
  }

  > span {
    display: block;
    color: $white;
    font-size: 24px;
    letter-spacing: 8px;
    line-height: 82px;
    text-transform: uppercase;
    vertical-align: middle;
  }
}

.wizard {
  @include make-row();

  > div, > a {
    @include make-col-ready();
    @include make-col(10);
    @include make-col-offset(1)
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .logo {
    margin-bottom: 10px;

    > div {
      @include img-retina(
        image-path("shared/logos/scheduleless.png"),
        image-path("shared/logos/scheduleless-2x.png"),
        50px, 32px
      );
      margin-right: 10px;
      width: 50px;
      height: 32px;
    }

    > span {
      font-size: 18px;
      line-height: 36px;
      text-align: right;
    }
  }

  .wizard {
    > div, > a {
      @include make-col(12);
      @include make-col-offset(0);
    }
  }
}
