<div class="rail narrow">
  <section>
    <aside>
      <%= render partial: "trades/sidebar" %>
    </aside>

    <article>
      <% if @trades.present? %>
        <%= render partial: "trade", collection: @trades %>
      <% else %>
        <%# TODO: Update verbage %>
        <div class="frame">
          <section>
            <article class="centered">
              <br><br>
              <%= t(".empty") %>
              <br><br><br>
            </article>
          </section>
        </div>
      <% end %>
    </article>
  </section>
</div>
