<div class="welcome-pricing-best-features">
  <article>
    <div>
      <h3>All The Best Features</h3>
    </div>
  </article>


  <article>

    <div>
      <div class="feature">
        <header>
          <aside>
            <span class="oi oi-location"></span>
          </aside>

          <div>
            Multiple Locations
          </div>
        </header>
        <section>
          No limits on the number of locations make it easy to organize and
          schedule your employees by where they work.
        </section>
      </div>
    </div>

    <div>
      <div class="feature">
        <header>
          <aside>
            <span class="oi oi-loop-circular"></span>
          </aside>

          <div>
            Repeating Shifts
          </div>
        </header>
        <section>
          Repeating shifts make it easy to schedule for people that work the
          same time each week. Save time next week when their schedule is
          already populated!
        </section>
      </div>
    </div>

    <div>
      <div class="feature">
        <header>
          <aside>
            <span class="oi oi-bell"></span>
          </aside>

          <div>
            Manager Approvals & Notifications
          </div>
        </header>
        <section>
          Get notified via email or on your mobile device when things need
          your attention. No need to track people down to confirm availability.
          Save your time for more important things.
        </section>
      </div>
    </div>
  </article>

  <article>
    <div>

      <div class="feature">
        <header>
          <aside>
            <span class="oi oi-calculator"></span>
          </aside>

          <div>
            Wage Calculator
          </div>
        </header>
        <section>
          Most accurate wage calculator that respects overtime laws in every
          state. Did you know in CA you have to pay overtime for a shift longer
          than 8 hours? Don't worry we take care of it.
        </section>
      </div>
    </div>

    <div>
      <div class="feature">
        <header>
          <aside>
            <span class="oi oi-timer"></span>
          </aside>

          <div>
            Time Tracking
          </div>
        </header>
        <section>
          Employees can clock in and out via the web or mobile device. Get
          reports based on the amount of time they actually worked vs your
          estimated schedule.
        </section>
      </div>
    </div>

    <div>
      <div class="feature">
        <header>
          <aside>
            <span class="oi oi-cloud"></span>
          </aside>

          <div>
            Available Anywhere
          </div>
        </header>
        <section>
          Create your schedules anywhere you are with our scheduling web
          interface. Your employees can access their schedules, request time off,
          and trade shifts from the iOS or Android devices.
        </section>
      </div>
    </div>
  </article>
</div>
