<div class="welcome-pricing-testimonials">
  <article>
    <h3>What Our Customers Say</h3>

    <header>
      We are thrilled when customers love Scheduleless as much as we do. Here
      is some of what they have to say.
    </header>

    <section>
      <div>
        <aside></aside>
        <header>J. Traer:</header>
        <section>
          " I've saved hours from just not having to answer when somebody works
          next. Reducing the interruptions during the day allows me to focus
          on more important parts of managing my location. "
        </section>
        <footer>Denver Co</footer>
      </div>

      <div>
        <aside></aside>
        <header>S. Leung:</header>
        <section>
          " The overtime wages are much more accurate than other software I've
          tried. It allows me to actually forcast what I'm spending on labor
          instead of underestimating it. "
        </section>
        <footer>Boston Ma</footer>
      </div>
    </section>
  </article>
</div>
