<div class="frame">
  <header class="light">
    <div>
      <%= t(".hours") %>
    </div>
  </header>
  <section>
    <article>
      <div>
        <%= render partial: "hours",
          locals: {
            scheduling_hours: location.scheduling_hours.order(:day)
          }
        %>
      </div>
    </article>
  </section>
</div>
