<div class="settings-credit-cards-blank">
  <div>
    <span class="oi oi-credit-card"></span>
  </div>

  <div>
    <%= t(".message") %>
  </div>

  <div>
    <%= link_to t(".add_card"), new_settings_credit_card_path, class: "button" %>
  </div>
</div>
