<br>
<br>
<br>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        Populate CC Info
        <select id="dev-credit-card-select" class="form-control">
          <option></option>
          <option value="1">Visa - Success</option>
          <option value="2">Mastercard - Success</option>
          <option value="3">AMEX - Success</option>
          <option value="4">Card Declined</option>
        </select>
      </div>
    </div>
  </div>
</div>
