<div class="side-menu">
  <ul>
    <li> <span class="oi oi-home"></span> </li>
    <li class="active">
      <%= link_to calendar_path do %>
        <span class="oi oi-calendar"></span>
      <% end %>
    </li>
    <li>
      <%= link_to locations_path do %>
        <span class="oi oi-map-marker"></span>
      <% end %>
    </li>
    <li class="seperator"></li>
    <li> <span class="oi oi-people"></span> </li>
    <li> <span class="oi oi-cog"></span> </li>
  </ul>
</div>
