<div class="top-nav">
  <div class="search-icon" style="color: #fff">
    <span class="oi oi-magnifying-glass"></span>
  </div>

  <input type="text" placeholder="Search" />
  <ul class="top-nav-list">
    <li class="seperator"></li>
    <li class="active"><a href="#">Calendar</a></li>
    <li><a href="#">Employees</a></li>
    <li><a href="#">Settings</a></li>
  </ul>
</div>
