<div class="top-nav">
  <div class="search-icon" style="color: #fff">
    <span class="oi oi-magnifying-glass"></span>
  </div>

  <form>
    <input type="text" placeholder="Search" />
  </form>

  <ul class="top-nav-list">
    <li class="seperator"></li>
    <li class="active"><a href="#">Calendar</a></li>
    <li><a href="#">Employees</a></li>
    <li><a href="#">Settings</a></li>
    <li>
      <%= link_to edit_user_path(current_user) do %>
        <%= image_tag "user_profile.png", class: "user_profile_pic" %>
      <% end %>
    </li>
  </ul>

  <button type="button" data-toggle="collapse" data-target="#mobile-menu" aria-expanded="false">
    <span class="oi oi-menu"></span>
  </button>
</div>

<div class="collapse navbar-collapse" id="mobile-menu">
  <ul>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
  </ul>
</div>
