.marketing-welcome-footer {
  @include make-container();
  background-color: #484b52;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: .5px;
  text-align: center;

  > div {
    @include make-row();
    > div {
      @include make-col-ready();
      @include make-col(12);
    }
  }
  article {
    margin: 25px 0;
  }

  > section {
    color: $gray-light;
    padding-bottom: 50px;

    span {
      color: red;
    }
  }

  ul {
    list-style: none;
    margin: 30px 0;

    li {
      display: inline-block;
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $gray-light;
      }
    }
  }

  .email-capture {
    text-align: center;

    > section {
      background-color: lighten(#484b52, 5%);
      border: 1px solid darken(#484b52, 5%);
      display: inline-block;
      margin: auto;
      padding: 20px;

      small {
        color: darken($white, 10%);
        display: block;
        margin-top: 5px;
      }
    }

    form {
      margin-bottom: 0;
    }

    margin-top: 20px;
    .input {
      display: inline-block;
      margin-bottom: 0;

      input {
        border-radius: 0;
        border: 1px solid $white;
        font-size: 18px;
        margin-top: 1px;
        min-width: 300px;
        padding: 12px 30px;
      }
    }

    .button {
      margin-top: -5px;
      padding: 16px 20px;
      padding-top: 15px;
    }
  }
}


@media (max-width: map-get($grid-breakpoints, lg)) {
  .marketing-welcome-footer {
    ul {
      padding: 0;

      li {
        display: block;
        margin: 10px 0;
        text-align: center;
      }
    }

    .email-capture {
      text-align: center;


      > section {
        display: block;
        padding: 15px;
        text-align: center;
      }

      margin-top: 20px;

      .input {
        display: block;
        margin-bottom: 0;

        input {
          border-radius: 0;
          border: 1px solid $white;
          font-size: 14px;
          margin-bottom: 10px;
          min-width: 200px;
          padding: 8px 15px;
          text-align: center;
        }
      }

      .button {
        display: block;
        margin: auto;
        padding: 8px 10px;
      }
    }
  }
}
