section.hero {
  background-color: #5776bd;
  height: 95vh;
  max-width: 100%;
  min-height: 400px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;

  .gradient {
    @include gradient-directional(
      $start-color: lighten(#5776bd, 5%),
      $end-color: darken(#5776bd, 10%),
      $deg: -15deg
    );
    position: absolute;
    top: -30%;
    right: 20%;
    width: 150%;
    height: 135%;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    opacity: .9;
  }


  .gradient-2 {
    background: #5f2c82;
    background: -webkit-linear-gradient(to left, #49a09d, #5f2c82);
    background: linear-gradient(to left, #49a09d, #5f2c82);


    position: absolute;
    top: -60%;
    right: -10%;
    width: 120%;
    height: 130%;
    transform: rotate(25deg);
    opacity: .4;
  }

  nav.navbar {
    background-color: transparent !important;
  }

  .scroll-down {
    position: absolute;
    bottom: 3vh;
    text-align: center;
    width: 100%;

    .oi {
      color: lighten($dark-blue, 20%);
      display: block;
      font-size: 2em;
    }

    small {
      color: $white;
      font-size: 12px;

      h2 {
        color: $white;
        display: inline;
        font-size: 12px;
        font-weight: normal;
      }
    }
  }
}

.content-section {
  @include make-container();
  max-width: 1280px;

  > div {
    @include make-row();

    > section {
      @include make-col-ready();
      @include make-col(12);

      article {
        color: $white;
        font-size: 1.2em;
        margin-top: 150px;
        text-align: center;

        h2 {
          color: $white;
          font-family: $font-family-sans-serif;
          font-size: 1.65em;
          font-weight: normal;
          font-weight: 200;
          text-transform: uppercase;
          letter-spacing: 4px;
        }
        span {
          font-size: 20px;
          font-weight: 200;
          > h1 {
            color: $white;
            display: inline;
            font-size: 20px;
            font-weight: normal;
            font-weight: 200;
          }
        }
      }
    }
  }

  .signup-input {
    background-color: rgba(darken(#5878bb, 20%), .7);
    display: inline-block;
    padding: 15px;
    vertical-align: top;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    form {
      display: flex;
      flex-direction: row;
      margin-bottom: 0;
    }

    .input, input[type=submit] {
      display: flex;
      border-radius: 0;
    }

    .input {
      margin-left: auto;
    }

    input[type=submit] {
      margin-right: auto;
      max-height: 36px;
      min-height: 36px;
    }

    input[type=email] {
      background-color: $white;
      border: 1px solid $white;
      border-radius: 0;
      color: darken(#5878bb, 20%);
      font-size: 16px;
      max-height: 36px;
      min-height: 36px;
      padding: 5px 15px;
      width: 300px;
    }
  }

  button {
    margin-bottom: 5px;
  }

  small {
    color: lighten($dark-blue, 25%);
    font-size: .65em;
  }
}


@media (max-width: map-get($grid-breakpoints, lg)) {
  .content-section {
    > div > section > article {
      margin-top: 75px;
    }

    .signup-input {
      border-radius: 2px;
      display: inline-block;
      padding: 8px;
      max-width: 350px;
      min-width: 300px;
      margin-left: auto;
      margin-right: auto;

      form {
        display: block;
        margin-bottom: 0;
      }

      .input, input[type=submit] {
        display: flex;
      }

      .input {
        display: block;
        margin-left: auto;

        input[type=email] {
          font-size: 14px !important;
          border: 1px solid $white;
          border-radius: 2px;
          margin-bottom: 10px;
          padding: 3px 8px;
          text-align: center;
          width: 100% !important;
        }
      }

      input[type=submit] {
        border-radius: 2px;
        display: block;
        font-size: 12px;
        margin-right: auto;
        text-align: center;
        width: 100%;
      }
    }

  }
}
