.industries {
  @include gradient-directional(
    $start-color: lighten(#5776bd, 5%),
    $end-color: darken(#5776bd, 10%),
    $deg: 185deg
  );


  padding: 20px 0;

  > div {
    text-align: center;

    h4 {
      color: lighten($dark-blue, 28%);
      font-size: 27px;
      font-weight: 200;
      margin-bottom: 30px;
    }
  }

  section {
    @include make-container();
    max-width: 800px;

    > div {
      @include make-row();
      > div {
        @include make-col-ready();
        @include make-col(3);
        font-size: 12px;
        color: $white;
        color: lighten($dark-blue, 28%);
        text-align: center;

        span {
          display: block;
          font-size: 30px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .industries {
    section > div > div {
      @include make-col(6);
      margin-bottom: 50px;
    }
  }
}
