.welcome-industries {
  background-image: image-url("marketing/welcome/shared/divider_bar_alt_repeat.jpg");
  background-position: center;
  background-repeat: repeat-x;
  background-color: rgba(#9b80d1, .6);

  min-height: 300px;


  padding: 20px 0;

  > div {
    text-align: center;

    h4 {
      color: lighten($dark-blue, 28%);
      font-size: 27px;
      font-weight: 200;
      margin-bottom: 30px;
    }

    a {
      background-color: rgba(darken(#9b80d1, 40%), .6);
      border-radius: 3px;
      color: $white;
      font-weight: 200;
      font-size: .8rem;
      display: inline-block;
      padding: 8px 20px;
      margin-top: 15px;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: rgba(darken(#9b80d1, 40%), .8);
        text-decoration: none;
      }
    }
  }

  section {
    @include make-container();
    max-width: 800px;

    > div {
      @include make-row();
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 25px;
      }

      > div {
        @include make-col-ready();
        @include make-col(3);
        font-size: 12px;
        color: $white;
        color: lighten($dark-blue, 28%);
        text-align: center;

        span {
          display: block;
          font-size: 30px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .industries {
    section > div > div {
      @include make-col(6);
      margin-bottom: 50px;
    }
  }
}
