.welcome-pricing {
  .hero {
    min-height: 625px;
  }

  h1,h2,h3 {
    color: $gray-dark;

    &:after {
      display: block;
      border-bottom: 1px solid #7f64b5;
      content: "";
      max-width: 75px;
      margin: auto;
      padding-top: 20px;
    }
  }

  .info-tile {
    flex-direction: row;

    aside {
      img {
        display: block;
        font-size: 60px;
        line-height: 40px;
        color: #7f64b5;
        text-align: center;
        width: 100px;
        height: 100px;
        padding: 25px;
      }
    }

    section {
      border-radius: 3px;
      flex-direction: column;
      font-weight: 200;
      font-size: .85rem;
      line-height: 14px;
      text-align: left;
      width: 75%;
      padding-top: 22px;

      > div:first-child {
        margin-bottom: 8px;
      }

      strong {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .marketing-welcome-pricing {
    .price-tiers {
      flex-direction: column;
    }
  }
}
