.welcome-pricing {
  .hero {
    min-height: 625px;
  }

  h1,h2,h3 {
    color: $gray-dark;

    &:after {
      display: block;
      border-bottom: 1px solid #7f64b5;
      content: "";
      max-width: 75px;
      margin: auto;
      padding-top: 20px;
    }
  }


}

@media (max-width: map-get($grid-breakpoints, lg)) {
.welcome-pricing {
  .hero {
    height: auto;

    .plan-container > .plan-details {
      margin-left: auto;
      margin-right: auto;

      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 15px;
      }
    }

    .free-trial {
      margin-bottom: 15px;
    }
  }
}
}
