.marketing-welcome-pricing {
  background-color: #eaf6ff;
  background-color: #f5faff;

  > div {
    @include make-container();
    max-width: 1280px;

    & > div {
      @include make-row();
      & > div {
        @include make-col-ready();
        @include make-col(12);

        text-align: center;
      }
    }
  }

  header {
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
    width: 100%;

    p {
      margin: auto;
      max-width: 800px;
    }
  }

  .price {
    display: block;
    text-align: center;

    > section {
      background-color: #dff0d8;
      background-color: $white;
      border: 2px solid #b2dba1;
      border-color: $dark-blue;
      color: #529138;
      color: $dark-blue;
      margin: 50px auto;
      min-height: 350px;
      width: 250px;

      span {
        font-size: 5rem;
        font-weight: 200;
      }

      sup {
        font-size: 1.5rem;
        vertical-align: top;
        line-height: 7rem;
      }

      a.button {
        display: block;
        font-size: 16px;
        margin: 0 20px;
      }

      .per-employee {
        margin-top: -20px;
        margin-bottom: 30px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin-top: 40px;

        li {
          display: block;
          font-size: 12px;
          text-align: left;
          padding: 5px 15px;
          line-height: 15px;
          vertical-align: middle;

          span {
            color: darken(#b2dba1, 8%);
            font-size: 14px;
            line-height: 15px;
            margin-right: 5px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .marketing-welcome-pricing {
  }
}
