.marketing-welcome-time-clock {
  background-color: $white;


  > div > aside {
    @include make-col(7);
    @include make-col-pull(5);
    background-image: asset-url("marketing/welcome/time_clock.jpg");
    background-size: cover;
    min-height: 400px;
  }

  > div > article {
    @include make-col(5);
    @include make-col-push(7);
    min-height: 400px;
    padding: 50px 75px;
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .marketing-welcome-time-clock {
    > div > article {
      @include make-col(12);
      @include make-col-push(0);

      text-align: center;
    }

    > div > aside {
      @include make-col(12);
      @include make-col-pull(0);

      background-position: center;
      max-height: 200px;
      min-height: 200px;
    }
  }
}
