.marketing-welcome-time-clock {
  background-color: $white;


  > div > aside {
    @include make-col(7);
    background-image: asset-url("marketing/welcome/time_clock.jpg");
    background-size: cover;
    min-height: 400px;
  }

  > div > article {
    @include make-col(5);
    min-height: 400px;

    padding: 50px 75px;
  }
}
