.marketing-static-pages-why {
  @include make-container();
  max-width: 960px;
  margin: auto;


  > header {
    text-align: center;
    margin: 50px 0;

    h2 {
      font-size: 2rem;
      font-weight: 200;
    }
  }

  > article {
    color: $purple;
    font-size: 1.3rem;
    font-weight: 200;
    margin: 50px 0;
    text-align: center;
  }

  .stats {
    @include make-row();

    > article {
      @include make-col-ready();
      @include make-col(4);

      > div {
        background-color: $white;
        border: 1px solid lighten($purple, 15%);
        font-weight: 200;
        padding: 15px;
        text-align: center;
      }

      h3 {
        small {
          font-size: 1rem;
        }
      }
    }
  }

  div.workings {
    @include make-container();
    font-weight: 200;
    margin: 50px auto;
    max-width: 660px;

    > header {
      color: $purple;
      text-align: center;
      margin-bottom: 50px;

      h3 {
        margin-bottom: 0;
      }
    }

    > section {
      @include make-row();
      margin-bottom: 40px;

      > aside {
        @include make-col-ready();
        @include make-col(4);

        > img {
          border: 1px solid $purple;
          border-radius: 50%;
          max-width: 125px;
        }
      }

      > article {
        @include make-col-ready();
        @include make-col(8);
        vertical-align: top;

        > div {
          display: inline-block;
          margin-top: 5px;
          vertical-align: top;
          width: 91%;

          > header {
            color: $purple;
            font-weight: 200;
            font-size: 1.2rem;
            margin-bottom: 8px;
          }

          &:first-child {
            color: $purple;
            font-size: 1.4rem;
            width: 8%;
          }
        }
      }
    }
  }
}
