.blog-welcome-introduction {
  color: $gray-light;
  margin-bottom: 80px;
  text-align: center;

  header {
    color: $purple;
    font-size: 40px;
    font-weight: 200;
    margin: 60px 0 20px 0;
  }
}
