<aside class="shared-wizard-steps">
  <ul>
    <% t(".steps").each_with_index do |step, index| %>
      <li class="<%= WizardStepPresenter.list_class(current_step, index) %>">
        <div>
          <span class="<%= WizardStepPresenter.class_for(current_step, index) %>">
          </span>
          <%= step %>
        </div>
      </li>
    <% end %>
  </ul>
</aside>
