<aside class="shared-wizard-steps">
  <ul>
    <li>
      <div>
        <span class="oi oi-circle-check"></span> Create Account
      </div>
    </li>

    <li>
      <div>
        <span class="oi oi-circle-check"></span> Company Info
      </div>
    </li>

    <li>
      <div>
        <span class="oi oi-circle-check"></span> Add a Location
      </div>
    </li>

    <li>
      <div>
        <span class="oi oi-media-record"></span> Employees
      </div>
    </li>

    <li>
      <div>
        <span class="oi oi-media-record"></span> Scheduling Rules
      </div>
    </li>

    <li>
      <div>
        <span class="oi oi-media-record"></span> Schedule Settings
      </div>
    </li>
  </ul>
</aside>
