.datepicker_range {
  max-width: 400px;

  label {
    display: flex;
    width: 100%;
  }

  input {
    display: inline-block;
    // margin-right: 20px;
    max-width: 180px;

    &:first-child {
      margin-right: 15px;
    }
  }

  > div {
    display: flex;

    > section {
      flex-basis: 1;
      flex-direction: column;

      input {
        min-width: 75px;
      }
    }
  }
}
