.field-display {
  > div {
    display: flex;
    flex-direction: row;
    line-height: 35px;
    margin-bottom: 16px;
    vertical-align: middle;

    > aside {
      // shares styles with a form label
      display: flex;
      font-size: .85rem;
      min-width: 160px;
      padding-right: 0 !important;
      font-weight: 500;
      color: lighten($font-dark, 10%);
    }

    > article {
      color: lighten($font-dark, 20%);
      display: flex;
      flex-direction: column;
      font-size: .85rem;
      line-height: 34px;
      padding-left: 28px !important;

      .note {
        color: $font-light;
        margin-top: -13px;
        font-size: .8rem;
      }
    }
  }
}
