.frame {
  box-shadow: 0 0 20px darken(#e3eaf5, 3%);

  > header {
    > div {
      color: $font-light;
      padding: 0 40px;
      text-transform: uppercase;

      &:first-child {
        background-color: $primary-dark-bg;
        border-bottom: 1px solid $dark-seperator;
        min-height: 50px;
        line-height: 50px;
      }

      &:last-child {
        background-color: $alternate-dark-bg;
        border-top: 1px solid $light-seperator;
        min-height: 50px;
        line-height: 50px;
      }
    }
  }

  section {
    background-color: $white;
  }
}
