.frame {
  box-shadow: 0 0 20px darken(#e3eaf5, 3%);
  margin-bottom: 30px;

  > header {
    > div {
      color: $font-light;
      display: flex;
      padding: 0 15px;
      text-transform: uppercase;

      > aside {
        margin-left: auto;
        text-align: right;
      }

      a {
        @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-border-radius);
        @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
        @include transition($btn-transition);
      }

      &:first-child {
        background-color: $primary-dark-bg;
        border-bottom: 1px solid $dark-seperator;
        min-height: 50px;
        line-height: 50px;
      }

      &:last-child {
        background-color: $alternate-dark-bg;
        border-top: 1px solid $light-seperator;
        min-height: 50px;
        line-height: 50px;
      }
    }
  }

  > section {
    background-color: $white;

    > article {
      padding: 15px;
    }
  }
}
