.input-group {
  display: flex;
  max-width: 400px;
  position: relative;
  width: 100%;

  .input-group-addon {
    background: lighten($blue, 0%);
    color: $white;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    line-height: 35px;
    text-align: center;
    width: 25px;
    vertical-align: middle;
  }

  > input[type=text], > .twitter-typeahead {
    display: flex !important;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;

    input {
      max-width: 100%;
    }
  }

  > input {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: none;
  }

  > span:last-child {
    flex-direction: column;

    input,button {
      border-bottom-left-radius: 0;
      border-left: 0px;
      border-top-left-radius: 0;
    }
  }
}
