.notice {
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;

  @include alert-variant($green-notice, darken($green-notice, 15%), darken($green-notice, 50%));
}
