.time_picker_range {
  label {
    width: 100%;
  }

  > div {
    display: flex;

    > section {
      flex-basis: 1;
      flex-direction: column;

      input {
        min-width: 75px;
      }
    }
  }

  .scrollable.tt-menu{
    max-height: 200px;
    overflow-y: auto;
  }
}
