.view-header {
  background-color: $blue;

  @include gradient-directional(
    $start-color: lighten(#5776bd, 5%),
    $end-color: lighten(#5776bd, 10%),
    $deg: 4deg
  );

  margin: -30px -15px 0 -15px;
  padding: 10px 30px;
  vertical-align: middle;

  > h2 {
    color: $white;
    font-weight: 200;
    line-height: 36px;
    margin-bottom: 0;
  }
}
