.settings-index {
  .tiles {
    @include make-row();

    > div {
      @include make-col-ready();
      @include make-col(4);

      a {
        color: $font-light;

        div {
          border: 1px solid darken($white, 15%);
          box-shadow: 0 0 5px darken(#e3eaf5, 3%);
          cursor: pointer;
          text-align: center;

          span {
            color: $font-light;
            font-size: 50px;
            display: block;
            padding: 80px 0;
          }
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
