<nav class="shared-marketing-top-nav <%= local_assigns.fetch(:version, "light") %>">
  <h2>Coworkability</h2>

  <ul>
    <li><a href="#">For Employers</a>
    <li><a href="#">Sign In</a>
  </ul>
</nav>
