.app-container {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 600px;

  display: flex;
  flex-direction: column;
}

.top-nav, .site-content{
  flex: 1;
  display: flex;
}

.static{
  background:green;
  width:100%;
  height:5rem;
}

.view-content {
  display: block;
  overflow-y: auto;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
