.view-sidebar {
  background-color: darken(#ebf0f8, 40%);
  position: relative;

  > div {
    padding: 20px;
  }

  form {
    label {
      color: $white;
      font-weight: 300;
    }

    input {
      padding: 5px 10px;
    }

    .input > select.select {
      height: 29px;
    }

    input[type=submit] {
      display: block;
      width: 100%;
    }
  }

  .alert,.notice,.warning {
    font-size: 11px;
    padding: 5px;
  }
}
