.view-sidebar {
  min-width: 252px;
  max-width: 252px;
  position: relative;

  > div {
    padding: 20px;
    background-color: darken(#ebf0f8, 40%);
  }

  form {
    min-width: 222px;

    .has-error {
      > label {
        color: #ff9d00;
        font-weight: bold;
      }

      .input-wrap > input {
        border: 1px solid #ff9d00;
      }

      > span.help-block {
        color: #ff9d00;
        font-weight: bold;
      }
    }

    label {
      color: $white;
      font-weight: 300;
    }

    input {
      padding: 5px 10px;
    }

    .input > select.select {
      height: 29px;
    }

    input[type=submit] {
      display: block;
      width: 100%;
    }
  }

  .alert,.notice,.warning {
    font-size: 11px;
    padding: 5px;
  }

  h1,h2,h3 {
    color: $white;
    font-weight: 200;
    font-size: 1.3rem;
    text-align: center;
  }
}
