<div class="frame">
  <header>
    <div>Add an employee to this location</div>
  </header>

  <section>
    <article>
      <%= render partial: "form", locals: { user: @user } %>
    </article>
  </section>
</div>
