<div class="frame">
  <header>
    <div><%= t(".add_an_employee") %></div>
  </header>

  <section>
    <article>
      <%= render partial: "form", locals: { user: @user } %>
    </article>
  </section>
</div>
