<div class="remote-new-calendar-shift-details-details">
  <div class="profile-image">
    <div>CP</div>
  </div>

  <div class="date">
    <p>July</p>
    <div>20</div>
    <p>10am - 4pm</p>
  </div>

  <div class="location">
    <p>Centre Street</p>
    <p>161 Huntington Ave</p>
    <p>Unit 429</p>
    <p>Boston Ma 02130</p>
  </div>
</div>
