.offers-offer {
  .offerer {
    border: 1px solid darken($white, 15%);
    margin-bottom: 20px;
    padding: 15px;

    label {
      color: $font-dark;
      font-weight: bold;
      min-width: 150px;
    }
  }
}
