.company-search-form {
  .twitter-typeahead {
    display: block;
    width: 100%;
  }

  > form {
    display: flex;
    flex-direction: row;

    .input-wrap {
      display: flex;
      flex-grow: 1;
      // display: inline-block;

      > input, > .twitter-typeahead > input {
        border: 0;
        padding: 10px 25px;
        height: 50px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        width: 100%;

        &::placeholder {
          color: lighten($purple, 20%);
        }

        &:focus {
          outline: 0;
        }
      }
    }

    input[type=submit] {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      display: flex;
      height: 50px;
      min-width: 100px;
    }
  }

  .tt-menu {
    background-color: $white;
    border-radius: 5px;
    border: 1px solid $purple;
    display: block;
    left: 25px !important;
    margin-top: 5px;
    position: absolute;
    top: 100%;
    right: 0px;
    z-index: 100;
  }

  .tt-dataset {
    .tt-suggestion {
      a {
        border-radius: 5px;
        color: $dark-text;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 10px;
        width: 100%;

        .listing-details {
          color: darken($gray-light, 25%);
          display: flex;
          flex-direction: row;
          font-weight: 200;
        }

        .listing-details > div {
          display: flex;
          font-size: 11px;
          text-overflow: ellipsis;

          &:last-child {
            margin-left: auto;
          }
        }

        &:hover {
          background-color: lighten($purple, 10%);
          color: $white;

          .listing-details {
            color: $white;
          }
        }
      }
    }
  }
}
