<div class="frame">
  <header>
    <div>Settings</div>
  </header>
  <section>
    this will contain blocks with fancy icons to each section<br>
    # titles<br><br>

    <%= link_to "Positions", settings_positions_path %><br>
    <%= link_to "Schedule Rules", settings_schedule_rules_path %><br>
  </section>
</div>
