<table>
  <thead>
    <tr>
      <th><%= t(".name") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% positions.map do |position| %>
      <tr>
        <td><%= position.name %></td>
        <td>
          <% if policy(position).edit? %>
            <%= link_to t(".edit"), edit_settings_position_path(position) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
