<div class="frame">
  <header>
    <div>
      <%= t(".title") %>

      <aside>
        <%= link_to t(".new"), new_settings_position_path, class: "button" %>
      </aside>
    </div>
  </header>
  <section>
    <div class="rail">
      <section>
        <article>
          <%= render partial: @positions_presenter.partial_name, locals: {
            positions: @positions_presenter.positions
          } %>
        </article>
        <aside>
          <div class="instructions">
            <%= t(".instructions") %>
          </div>
        </aside>
      </section>
    </div>
  </section>
</div>


