<div class="frame">
  <header>
    <div>New Position</div>
  </header>

  <section>
    <article>
      Create a position, this is important because blah blah <br><br>

      <%= render partial: "form", locals: { position: @position } %>
    </article>
  </section>
</div>


