<div class="welcome-coworkability-description">
  <article>
    <header>
      <h4>We can only stop workplace harassment by working together.</h4>
    </header>


    Coworkability mediates between employees and employers to have honest
    discussions about harassment within companies. We provide a safe place for
    employees where the is no risk to them and tools for companies to identify
    where they are at high risk for harassment.
  </article>

  <section>
    <article>
      <%= image_tag "marketing/welcome/coworkability/description/employees.jpg" %>

      <header>
        <h5>For Employees</h5>
      </header>

      <section>
        Help us by anonymously reporting your good and bad experiences for the
        companies you worked for. Most instances of harassment and bullying go
        unreported. This needs to change if want to stop harassment.
      </section>

      <footer>
        <%= link_to "Learn More", why_report_path, class: "button purple" %>
      </footer>
    </article>

    <article>
      <%= image_tag "marketing/welcome/coworkability/description/business.jpg" %>

      <header>
        <h5>For Employers</h5>
      </header>

      <section>
        Most workplace harassment goes unreported. We can help audit and validate
        the effectiveness of your internal HR systems. If you don't have anti-harassment
        procedures or reporting in place, our Coworkability Prevent
        platform can handle it all for you.
      </section>

      <footer>
        <%= link_to "Learn More", new_company_inquiry_path, class: "button purple" %>
      </footer>
    </article>
  </section>
</div>
