<div class="marketing-welcome-coworkability-hero">
  <%= render partial: "shared/marketing/top_nav" %>

  <article>
    <h3>Help put a spotlight on workplace harassment</h3>

    <div class="subtitle">
      Our Coworkability Score provides insight into how a companies employees
      treat each other.
    </div>

    <section class="company-search-form">
      <%= simple_form_for (@company_search || PublicCompanySearch.new), url: public_companies_searches_path, method: :get do |f| %>
        <%= f.input :query,
          label: false,
          input_html: { class: "company-search-input" },
          placeholder: "Search for a company",
          wrapper: false %>

        <%= f.submit "Search", wrapper: false, class: "orange btn" %>
      <% end %>
    </section>
  </article>
</div>
