<div class="marketing-welcome-coworkability-hero">
  <%= render partial: "shared/marketing/top_nav" %>

  <article>
    <h3>Help put a spotlight on workplace harassment!</h3>

    <section class="company-search-form">
      <%= simple_form_for :search, url: public_companies_searches_path, method: :get do |f| %>
        <%= f.input :query,
          label: false,
          input_html: { class: "company-search-input" },
          placeholder: "Lookup a companies Coworkability Score",
          wrapper: false %>

        <%= f.submit "Search", wrapper: false, class: "orange btn" %>
      <% end %>
    </section>
  </article>
</div>
