.public-companies-searches-index {
  .search-results {
    > section {
      margin: auto;
      max-width: 800px;
    }

    .result > div {
      background-color: $white;
      padding: 20px;
      margin-bottom: 15px;

      h4 {
        margin-bottom: 0;
      }

      section {
        color: $gray-light;
        font-size: 12px;
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .public-companies-searches-index {
    .search-results {
      margin: 0 10px;
    }
  }
}
