.public-companies-searches-no-results {
  background-color: $white;
  border: 1px solid lighten($purple, 15%);
  font-weight: 200;
  max-width: 600px;
  margin: 100px auto;
  padding: 50px;
  text-align: center;

}
