<div class="new-calendars-daily-schedule">
  <article>
    <div>

      <aside>
        <%= render partial: "users" %>
      </aside>

      <section>
        <div style="" class="shifts">

          <section>
            <%= render partial: "shifts" %>
          </section>
        </div>
      </section>

    </div>
  </article>
</div>
