<div class="new-calendars-daily-schedule">
  <article>
    <div>
      <aside>
        <%= render partial: "users", locals: { users: presenter.users } %>
      </aside>

      <section>
        <div class="<%= presenter.shift_view_width_class %>">
          <section>
            <%= render partial: "shifts", locals: { shifts: presenter.shifts }  %>
          </section>
        </div>

      </section>
    </div>

    <% if presenter.manage? %>
      <%= render partial: "toolbar", locals: { presenter: presenter } %>
    <% end %>
  </article>
</div>
