<% presenter.users.each do |user| %>

  <% shifts = [presenter.shifts_for(user).first].reject(&:blank?) %>

  <% if shifts.present? %>
    <% shifts.each do |shift| %>
      <div class="shift-row">
        <div class="<%= shift.classes %>">

        <%= link_to shift.details_url, remote: true do %>
          <div>
            <div class="time"><%= shift.time_range %></div>
            <div class="position"><%= shift.position %></div>
          </div>
        <% end %>

        </div>
      </div>
    <% end %>
  <% else %>
    <div class="shift-row"></div>
  <% end %>

<% end %>
