<div class="new-calendars-shift-week-view">
  <section>
    <div><%= shift.time_range %></div>
    <div><%= shift.position %></div>
  </section>

  <% if manager %>
    <div class="actions">
      <div>
        <span class="oi oi-star"></span>
      </div>
      <div>
        <%= link_to shift.details_url, remote: true do %>
          <span class="oi oi-pencil"></span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
