<% shifts.each do |shift| %>
  <div class="shift-row">
    <div class="<%= shift.classes %>">

    <%= link_to remote_new_calendar_shift_shift_detail_path(1), remote: true do %>
      <div>
        <div class="time"><%= shift.time_range %></div>
        <div class="position"><%= shift.position %></div>
      </div>
    <% end %>

    </div>
  </div>
<% end %>
