<div class="new-calendars-shift-week-view <%= shift.classes %>">
  <section>
    <div><%= shift.time_range %></div>
    <div><%= shift.position %></div>
  </section>

  <% if presenter.manage? %>
    <%= render partial: "new_calendars/shared/shift_actions",
      locals: { shift: shift } %>
  <% end %>
</div>
