<section>
  <%= render partial: "daily_schedule", locals: { presenter: presenter } %>
</section>

<% if presenter.needs_published? %>
  <div class="warning">
    this schedule has shifts that need published
  </div>
<% end %>
