<section>
  <%= render partial: "new_calendars/daily_schedule",
    locals: { presenter: presenter } %>
</section>

<% if presenter.needs_published? %>
  <div class="warning">
    There are shifts that aren't published!
  </div>
<% end %>
