<footer class="centered">
  <div class="new-icon-toggle centered">
    <%= link_to(
      new_remote_location_in_progress_shift_path(
        presenter.location,
        date: presenter.date_integer
      ),
      class: "button",
      title: "Add a Shift",
      data: { toggle: "tooltip" },
      remote: true
    ) do %>
      <span class="oi oi-plus"></span>
    <% end %>

    <%= link_to(
      new_remote_location_posting_path(
        presenter.location,
        date_start: presenter.date_integer,
        date_end: presenter.date_integer
      ),
      class: "button",
      title: "Publish",
      data: { toggle: "tooltip" },
      remote: true
    ) do %>
      <span class="oi oi-share"></span>
    <% end %>
  </div>

  <br />
  <div class="warning">
    There are shifts that aren't published!
  </div>

  <% if Features.for(current_company).wages? %>
    <div>
      <%# TODO: Add me %>
    </div>
  <% end %>
</footer>
