<div class="new-calendars-show">
  <article>
    Schedule For Aug 1st - Aug 15th
  </article>

  <header>
    <div>&nbsp;</div>

    <div>
      <button class="icon"><span class="oi oi-caret-left"></span></button>
      July 20th
      <button class="icon"><span class="oi oi-caret-right"></span></button>
    </div>

    <div>
      <div class="new-icon-toggle">
        <a href="#" class="selected"><span class="oi oi-project"></span></a>
        <a href="#"><span class="oi oi-grid-three-up"></span></a>
      </div>
    </div>
  </header>

  <section>
    <%= render partial: "daily_schedule" %>
  </section>
</div>

<% content_for(:view_content_classes, "full-width") %>
<% content_for(:view_sidebar) do %>
  <%= render partial: "dashboards/calendar_sidebar" %>
  <%= render partial: "dashboards/upcoming_shift" %>
<% end %>
