.dashboards-availalbe-shifts-shift {
  background-color: $white;
  border: 1px solid lighten($purple, 20%);
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 10px;

  .date {
    color: $purple;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    width: 30%;
  }

  .time {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;

    > div {
      display: block;

      &:first-child {
        color: $purple;
        font-size: 1rem;
      }
    }
  }

  .location {
    // margin-left: auto;
    min-width: 150px;
  }

  .buttons {
    display: none;
  }

  .accept {
    align-items: center;
    margin-left: auto;
    justify-content: center;
    padding: 13px 5px 5px 0;

    a {
      background-color: #f4fcfa;
      border-color: darken($green-notice, 30%);
      border-radius: 3px;
      color: darken($green-notice, 40%);
      min-width: 40px;
      text-align: center;
      vertical-align: middle;
    }
  }
}
