<% if scheduling_periods.present? %>
  <table class="table bordered">
    <% scheduling_periods.each do |scheduling_period| %>
      <tr>
        <td><%= scheduling_period.label %></td>
        <td><%= t(".status.#{scheduling_period.status}") %></td>
        <td>
          <% if scheduling_period.status == "published" %>

          <% else %>
            <%= link_to "Edit", locations_location_scheduling_period_path(location, scheduling_period) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <div class="centered">
    No Schedules have been created for this location yet!<br />
    <br />

    <%= link_to "Create One Now",
      new_locations_location_scheduling_period_path(location),
      class: "button"
    %>
  </div>
<% end %>
