<div class="shift-table">
  <% if scheduling_period.in_progress_shifts.present? %>
    <%= render partial: "shifts", locals: { presenter: @presenter } %>
  <% else %>
    <%= render partial: "no_shifts", locals: { location: location } %>
  <% end %>
</div>

<br>

<article>
  <footer>
    <div>
    <%= button_to t(".rebuild"),
      scheduling_period_schedule_period_regenerator_path(scheduling_period),
      class: "white",
      data: { confirm: t(".confirm") } %>
    </div>

    <div>
      <%= button_to t(".publish"),
      scheduling_period_scheduling_period_publisher_path(scheduling_period) %>
    </div>
  </footer>
</article>
