<div class="rail narrow">
  <section>
    <aside>
      <%= render partial: "locations/sidebar" %>
    </aside>

    <article>

      <div class="frame">
        <section>
          <article>
            <%= render partial: "index",
              locals: {
                location: @location,
                scheduling_periods: @scheduling_periods
              }
            %>
          </article>
        </section>
      </div>

    </article>
  </section>
</div>
