<div class="frame">
  <section>
    <article>
      <%= render partial: "show",
        locals: {
          location: @location,
          scheduling_period: @scheduling_period
        }
      %>
    </article>
  </section>
</div>
