<div class="frame">
  <header>
    <div>
      Review Schedule
    </div>
  </header>

  <section>
      <%= render partial: "show",
        locals: {
          location: @location,
          scheduling_period: @scheduling_period
        }
      %>
  </section>
</div>
