<div class="frame">
  <header>
    <div><%= t(".title") %></div>
  </header>
  <section>
    <article class="centered">
      <%= t(".no_shifts") %><br>
      <%= link_to t(".trades"), trades_path %>
    </article>
  </section>
</div>
