<div class="rail narrow">
  <section>
    <aside>
      <%= render partial: "sidebar" %>
    </aside>

    <article>
      <% if @shifts.present? %>
        <div class="frame">
          <header>
            <div><%= t(".title") %></div>
          </header>
        </div>

        <%= render @shifts %>
      <% else %>
        <%= render partial: "no_shifts" %>
      <% end %>
    </article>
  </section>
</div>
