<div class="rail narrow">
  <section>
    <article>
      <div class="frame">
        <section>
          <article>
            <%= render partial: "new_form", locals: { shift: @shift } %>
          </article>
        </section>
      </div>
    </article>
  </section>
</div>
