<div class="business-users-locations">
  <% locations.order(:name, :line_1).each do |location| %>
    <div>
      <% if location.name.present? %>
        <strong><%= location.name  %></strong><br>
      <% end %>

      <%= AddressFormatter.for(location).multiline_html %>
    </div>
  <% end %>
</div>
