<div class="frame">
  <header>
    <div>Employees</div>
  </header>
  <section>

    <table class="striped">
      <thead>
        <tr>
          <th>Email</th>
      </thead>

      <tbody>
        <% @users.map do |user| %>
          <tr>
            <td>
              <%= link_to_if policy(user).edit?, user.email, edit_business_user_path(user) do %>
                <%= link_to user.email, business_user_path(user) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
