<div class="frame">
  <header>
    <div>
      <%= t(".title") %>

      <% if policy(User).create? %>
        <aside>
          <%= link_to t(".add_employee"), new_business_user_path %>
        </aside>
      <% end %>
    </div>
  </header>

  <section>
    <%= render partial: "users/users", locals: { users: @users } %>
  </section>
</div>
