<div class="frame">
  <header>
    <div>
      <%= t(".title") %>

      <% if policy(User).create? %>
        <aside>
          <%= link_to t(".add_employee"), new_business_user_path %>
        </aside>
      <% end %>
    </div>
  </header>


  <section>
    <% if @users.empty? %>
      <article class="centered">
        <%= t(".no_users") %>
      </article>
    <% else %>
      <%= render partial: "users/users", locals: { users: @users } %>
    <% end %>
  </section>
</div>
