.settings-schedule-rules-form {
  section {
    margin-bottom: 16px;
  }

  div.input {
    display: inline-block;
    margin: 0 15px;
    // width: 150px;
  }

  div.errors {
    padding: $alert-padding-y $alert-padding-x;
    margin-bottom: $alert-margin-bottom;
    border: $alert-border-width solid transparent;
    @include border-radius($alert-border-radius);

    @include alert-variant(
      theme-color-level("danger", $alert-bg-level),
      theme-color-level("danger", $alert-border-level),
      theme-color-level("danger", $alert-color-level)
    );

    ul {
      margin-bottom: 0;
    }
  }
}
