<div class="frame">
  <header>
    <div>Popular Time Periods</div>
  </header>
  <section>
    <article>

      <div class="instructions">
        Configure Popular Times for your business. Certain holidays, days,
        times can have increased traffic which requires increased staffing.
        Combine these with
        <%= link_to "schedule rules", settings_schedule_rules_path %>
        for the most flexible scheduling.
      </div>

      <br><br>
      <table class="bordered striped">
        <% @popular_times.each do |popular_time| %>
          <%= render popular_time %>
        <% end %>
      </table>

      <%= render partial: "new_options" %>
    </article>
  </section>
</div>
