<div class="frame">
  <header>
    <div>New Time Period</div>
  </header>

  <section>
    <article>



<div class="accordion"
     id="time-period-accordion"
     role="tablist"
     aria-multiselectable="true">
  <div class="card">
    <header role="tab">
      <a data-toggle="collapse"
         data-parent="#time-period-accordion"
         href="#time-range-form"
         aria-expanded="true"
         aria-controls="time-range-form">
        Time Range
      </a>
    </header>

    <section id="time-range-form" class="collapse show" role="tabpanel">
      <%= render partial: "settings/popular_times/time_range_form", locals: { period: PopularTimeRangeTime.new } %>
    </section>
  </div>

  <div class="card">
    <header role="tab">
      <a class="collapsed" data-toggle="collapse" data-parent="#time-period-accordion" href="#date-range-time-form" aria-expanded="false" aria-controls="date-range-time-form">
        Date Range
      </a>
    </header>

    <section id="date-range-time-form" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <%= render partial: "settings/popular_times/date_range_time_form", locals: { period: PopularDateRangeTime.new } %>
    </section>
  </div>

  <div class="card">
    <header role="tab">
      <a class="collapsed" data-toggle="collapse" data-parent="#time-period-accordion" href="#holiday-form" aria-expanded="false" aria-controls="holiday-form">
        Holiday
      </a>
    </header>

    <section id="holiday-form" class="collapse" role="tabpanel">
      <%= render partial: "settings/popular_times/holiday_form", locals: { period: PopularHolidayTime.new } %>
    </section>
  </div>

  <div class="card">
    <header role="tab">
      <a class="collapsed" data-toggle="collapse" data-parent="#time-period-accordion" href="#weekday-form" aria-expanded="false" aria-controls="weekday-form">
        Weekday
      </a>
    </header>

    <section id="weekday-form" class="collapse" role="tabpanel">
      <%= render partial: "settings/popular_times/weekday_form", locals: { period: PopularWeekdayTime.new } %>
    </section>
  </div>
</div>














    </article>
  </section>
</div>
