.remote-new-calendar-shift-details-details {
  color: $white;
  font-weight: 200;
  margin-top: 50px;
  min-width: 222px;
  text-align: center;

  .profile-image {
    > div {
      background-color: $white;
      border-radius: 50%;
      color: $gray-dark;
      font-size: 30px;
      height: 75px;
      line-height: 75px;
      margin: 0 auto;
      width: 75px;
      vertical-align: middle;
    }
  }

  .date {
    margin: 30px 0;
    > p {
      margin-bottom: 0;
    }

    > div {
      font-size: 30px;
    }
  }

  .location {
    > p {
      margin-bottom: 0;
    }
  }
}
