.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; // allow us to do the line break for collapsing content
  align-items: center;
  justify-content: space-between; // space out brand from logo
  padding: $navbar-padding-y 0;
  position: relative;

  .navbar-brand {
    @include img-retina(
      image-path("shared/logos/scheduleless.png"),
      image-path("shared/logos/scheduleless-2x.png"),
      101px, 75px
    );

    display: block;
    width: 100px;
    height: 75px;
  }

  a {
    color: $white;
    display: block;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: auto !important;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }


  &.navbar-collapse {
    flex-basis: 100%;
  }

  ul {
    display: block;
    list-style: none;
    margin-bottom: 0;
    margin-left: auto;
    // padding: $navbar-padding-y 0;

    li {
      display: inline-block;
      margin-left: 2em;
    }

    li > a {
      font-size: 1em;
      line-height: 75px;
      vertical-align: middle;
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
    div.navbar-collapse {
      display: flex!important;
      width: 100%;
    }
  }
}


