Someone gave us their email!!!

We will hopefully get a lead email shortly. If not we need to follow up
with them and see where in the onboarding process they are.</p>

Company Name: <%= @company.name %>
Customer Name: <%= "#{@user.given_name} #{@user.family_name}" %>
Company Id: <%= @company.id %>
