<div style="text-align: center">
  <h4 style="color: #6695fb">
    Someone gave us their email!!!
  </h4>

  <p>We will hopefully get a lead email shortly. If not we need to follow up
    with them and see where in the onboarding process they are.</p>

  <strong>Company Name:</strong> <%= @company.name %><br>
  <strong>Customer Name:</strong> <%= "#{@user.given_name} #{@user.family_name}" %><br>
  <strong>Company Id:</strong> <%= @company.id %>
  <br><br>
</div>
