.blog-posts-show {
  margin: 100px auto;
  max-width: 700px;

  header {
    color: $gray-light;
    margin: 20px 0 40px 0;

    .author {
      font-size: 18px;
      color: $gray-light;

      span:first-child {
        color: $blue-dark;
      }
    }

    .category {
      span {
        color: $blue-dark;
      }
    }
  }

}
