<table class="table calendar">
  <thead>
    <tr>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
  </thead>
  <tbody>
    <% presenter.weeks.map do |week| %>
        <tr>
        <% week.map do |day| %>
          <% classname = day.month == presenter.day.month ? "" : "inactive" %>
          <td class="<%= classname %>">
            <div>
              <%= presenter.day_block(day) %>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
