<div class="frame">
  <header>
    <div>
      <%= render partial: "calendars/month_headers",
        locals: { presenter: presenter } %>
    </div>
  </header>

  <section>
    <%= render partial: "calendars/calendar",
      locals: {
        presenter: presenter
      } %>
  </section>
</div>
