<div class="calendars-daily-schedule">
  <article>
    <div>
      <aside>
        <%= render partial: "calendars/users",
          locals: { presenter: presenter } %>
      </aside>

      <section>
        <div class="<%= presenter.shift_view_width_class %>">
          <section>
            <%= render partial: "calendars/shifts",
              locals: { presenter: presenter } %>
          </section>
        </div>
      </section>

    </div>
  </article>

  <% if 1==2 && presenter.manage? %>
    <%= render partial: "calendars/toolbar",
      locals: { presenter: presenter } %>
  <% end %>
</div>
