<div id="daily-schedule" class="frame">
  <header>
    <div>
      Schedule for <%= presenter.date.to_s(:month_day_year) %>
    </div>
  </header>

  <section>
    <article>
      <% if presenter.location_schedule.shifts? %>
        <%= render(
          partial: "shared/day_schedule",
          locals: {
            presenter: DaySchedulePresenter.new(
              day: presenter.date.to_s(:integer),
              location: presenter.current_location,
              shifts: presenter.location_schedule.shifts
            )
          }
          ) %>
      <% else %>
        <div class="empty-schedule">
          No shifts are scheduled for today.

          <% if policy(:scheduling_period).create? %>
            <br>
            <%= link_to("Create a Schedule",
              locations_location_scheduling_periods_path(
                presenter.current_location
              )
             ) %>
          <% end %>
        </div>
      <% end %>
    </article>
  </section>
</div>
