<% if presenter.location_list.present? %>
  <div class="location-select frame">
    <header>
      <div><%= t(".selected_location") %></div>
    </header>

    <section>
      <article>
        <div class="dropdown">
          <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= presenter.location_label(@presenter.current_location) %>
          </button>

          <div>
            <% presenter.location_list.each do |location| %>
              <%= link_to presenter.location_label(location),
                location_calendar_path(location) %>
            <% end %>
          </div>
        </div>
      </article>
    </section>
  </div>
<% end %>
