<section class="new-calendar-not-yet-scheduled">
  <div class="centered">
    <span class="oi oi-rain"></span>
    <div>We're sorry. There are no schedules published for this period</div>
    <div>We will let you know when shifts are available</div>
  </div>

  <% if presenter.manage? %>
    <article class="centered">
      <%= button_to(
        "Auto Populate Schedule",
        locations_location_scheduling_periods_path(
          presenter.location,
          date: presenter.date_string,
          populate: true
        )
      ) %>

      <%= button_to(
        "Start With A Blank Slate",
        locations_location_scheduling_periods_path(
          presenter.location,
          date: presenter.date_string,
          populate: false
        ),
        class: "button link"
      ) %>
    </article>
  <% end %>
</section>
