<% presenter.users.map do |user| %>
  <div class="new-calendar-users">
    <%= user.full_name %>

    <% if presenter.schedulable?(presenter.date) %>
      <div class="actions">
        <div>
          <article>
            &nbsp;
          </article>
          <article>
            <%= link_to(
              "Add Shift",
              new_remote_location_in_progress_shift_path(
                presenter.location,
                date: presenter.date_integer,
                user_id: user.id
              ),
              class: "button",
              remote: true
            ) %>
          </article>
        </div>
      </div>
    <% end %>

  </div>
<% end %>
