<div class="new-calendars-weekly-schedule">
  <header>
    <div>Employee Name</div>

    <% presenter.date_range.each do |date| %>
      <div><%= t('date.day_names')[date.wday] %></div>
    <% end %>
  </header>

  <section>
    <% presenter.employees.each do |employee| %>
      <div>
        <div class="employee"><%= employee.full_name %></div>

        <% presenter.date_range.each do |date| %>
          <div class="shift-container">
            <%# TODO: Remove View Conditional %>
            <% if presenter.shifts_for(employee, date).present? %>
              <% presenter.shifts_for(employee, date).each do |shift| %>
                <%= render(
                  partial: "calendars/shift_week_view",
                  locals: {
                    shift: shift,
                    presenter: presenter
                  }
                ) %>
              <% end %>
            <% elsif presenter.schedulable?(date) %>
              <%= link_to(
                "Add Shift",
                new_remote_location_in_progress_shift_path(
                  presenter.location,
                  date: date.to_s(:integer),
                  user_id: employee.id
                ),
                class: "add-shift",
                remote: true
              ) %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>
</div>
