.new-calendars-daily-schedule {
  overflow-x: auto;

  box-shadow: 0 0 20px darken(#e3eaf5, 3%);

  header {
    background-color: $white;
    display: flex;
    flex-direction: row;
    margin-left: 130px;
    > div {
      min-width: 40px;
      text-align: center;
    }
  }

  > article {
    border-bottom: 1px solid lighten($blue, 15%);
    border-top: 1px solid lighten($blue, 15%);
    display: block;
    max-height: 450px;
    overflow-y: auto;
  }

  > article > div {
    display: flex;
    flex-direction: row;
  }

  div > aside {
    background-color: $white;
    border-right: 1px solid $blue;
    min-width: 150px;
  }

  div > section {
    overflow-x: auto;
    position: relative;
    width: 100%;

    > div.shifts {
      min-width: 361px;
      position: relative;
      width: 100%;

      background: repeating-linear-gradient(
        to right,
        lighten($blue, 17%),
        lighten($blue, 17%) 1px,
        $white 1px,
        $white 40px
      );


      $i: 540;
      @while $i < 1441 {
        @if $i > 540 {
          &.day-length-#{$i} {
            min-width: (40px * ($i/60)) + 1;
          }
        }
        $i: $i + 15;
      }

      > section {
        background-color: transparent;
      }
    }
  }

  .shift-row {
    padding-top: 5px;
    padding-bottom: 5px;
    max-height: 50px;
    min-height: 50px;

    .shift {
      background-color: lighten($blue, 25%);
      border-radius: 3px;
      border: 1px solid $blue;

      font-size: 10px;
      max-height: 40px;
      min-height: 40px;
      overflow: none;
      position: relative;

      $i: 0;
      @while $i < 1441 {
        &.start-#{$i} {
          margin-left: 40px * ($i/60);

          @if $i > 1304 {
            a {
              > div {
                left: -100px;
                text-align: right;
                width: 95px;
              }
            }
          }
        }

        &.edited {
          background-color: rgba(lighten($blue, 28%), .7);
          border: 1px dashed $blue;
        }

        &.length-#{$i} {
          width: (40px * ($i/60)) + 1;

          // position label to the right of the div
          @if $i < 106 {
            a {
              position: relative;
              > div {
                background-color: rgba($white, .3);
                position: absolute;
                left: (40px * ($i/60)) + 6;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
        }
        $i: $i + 15;
      }

      .actions {
        background-color: rgba(lighten($blue, 25%), .8);
        bottom: 0;
        display: none;
        left: 0;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;

        > a {
          padding: 0;
        }

        > div {
          display: flex;
          vertical-align: middle;
          margin: 0 5px;

          &:first-child {
            margin-left: auto;
          }

          span.oi {
            color: darken($blue, 20%);
            font-size: 14px;
            line-height: 30px;

            &:hover {
              color: darken($green, 20%);
            }
          }
        }
      }

      &:hover {
        .actions {
          display: flex;
        }
      }


      a {
        display: block;
        width: 100%;
        min-height: 38px;
        padding: 2px;
        padding-top: 4px;

        &:hover {
          text-decoration: none;
        }

        .time,.position {
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
