.new-calendars-shift-week-view {
  align-items: center;
  background-color: lighten($blue, 25%);
  border-radius: 2px;
  border: 1px solid $blue;
  display: flex;
  font-size: 12px;
  justify-content: center;
  margin: 5px;
  min-height: 40px;
  position: relative;
  text-align: center;
  vertical-align: middle;

  > section {
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .actions {
    background-color: rgba(lighten($blue, 25%), .7);
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;

    > div {
      display: flex;
      flex-basis: 1;
      flex-direction: column;
      padding-left: 5px;
      vertical-align: middle;

      span.oi {
        color: darken($blue, 15%);
        line-height: 36px;

        &:hover {
          color: $green;
        }
      }

      &:last-child {
        margin-left: auto;
        padding-left: 0;
        padding-right: 5px;
      }
    }
  }

  &:hover {
    .actions {
      display: flex;
    }
  }

  &.edited {
    background-color: rgba(lighten($blue, 28%), .7);
    border: 1px dashed $blue;
  }
}
