.calendars-show {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 1;
  flex-grow: 1;
  padding-top: 10px;

  > header, > div {
    display: flex;
  }

  div.calendar-container {
    flex-grow: 1;
  }

  > header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin-bottom: 3px;

    > div {
      text-align: center;
      line-height: 42px;
      vertical-align: middle;
      width: 33%;
    }

    > div:first-child {
      font-size: 16px;
      letter-spacing: 1px;
      padding-left: 10px;
      text-align: left;
      vertical-align: top;
    }

    > div:last-child {
      display: flex;
      text-align: right;
    }
  }

  .calendar-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    > section {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}
