.new-calendars-weekly-schedule {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  > section {
    display: flex;
    flex-grow: 1;
  }

  > header {
    background-color: $white;
    border-bottom: 1px solid $blue;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-right: 15px;

    display: flex;
    flex-direction: row;

    > div {
      flex-basis: 0;
      flex-grow: 1;
      font-size: 13px;
      line-height: 30px;
      min-height: 30px;
      text-align: center;
      vertical-align: center;

      &:first-child {
        flex-basis: auto;
        max-width: 150px;
        min-width: 150px;
        padding-left: 10px;
        text-align: left;
      }

      &.today {
        background-color: $green;
        color: darken($green, 38%);
      }
    }
  }

  > section {
    background-color: lighten($body-bg, 2%);
    background-color: white;
    flex-direction: column;
    margin-top: 30px;
    overflow-y: scroll; // always display scroll to prevent popping

    > div {
      background-color: $body-bg;
      display: flex;
      flex-direction: row;
      flex-shrink: 0;

      > div {
        // flex-direction: row;
        flex-basis: 0;
        flex-grow: 1;
        min-height: 50px;
        border-right: 1px solid lighten($blue, 20%);

        &.past-date {
          background-color: darken($body-bg, 5%);
        }

        &.today {
          background-color: lighten($body-bg, 2%);
        }
      }

      &:nth-child(even) {
        > div {
          background-color: lighten($blue, 29.5%);

          &.past-date {
            background-color: lighten($blue, 28%);
          }

          &.today {
            background-color: lighten($blue, 32%);
          }
        }

        > div:first-child {
          background-color: lighten($blue, 28%);
        }
      }

      &.calendar-filler {
        flex-grow: 1;
        flex-shrink: 1;

        .employee, .shift-container {
          min-height: 0;
          padding: 0;
        }
      }
    }

    .employee {
      flex-basis: auto;
      border-right: 1px solid $blue;
      width: 150px;
      max-width: 150px;
      font-size: 12px;
      line-height: 40px;
      min-height: 40px;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      // position: relative;
      vertical-align: center;
    }
  }

  .add-shift {
    background-color: $green;
    box-shadow: inset 0 0 8px darken($green, 10%);
    color: $white;
    display: none;
    font-size: 12px;
    line-height: 30px;
    margin: 5px;
    min-height: 40px;
    padding: 5px;
    text-align: center;
    vertical-align: center;
  }

  .shift-container:hover {
    .add-shift {
      display: block;
      text-decoration: none;
    }
  }
}
