<nav class="navbar">
  <a class="navbar-brand" href="#"></a><span>Scheduleless</span>

  <ul>
    <li>
      <%= link_to "Sign Up", new_onboarding_registration_path %>
    </li>
    <li>
      <%= link_to "Sign In", new_user_session_path %>
    </li>
  </ul>
</nav>
