<section class="marketing-welcome-explanation section">
  <div>
    <aside></aside>

    <article>
      <div>
        <h2><%= t(".title") %></h2>
        <p><%= t(".line_2") %></p>
        <%= link_to "How It Works", how_it_works_path, class: "button white" %>
        <br />
      </div>
    </article>

  </div>
</section>
