<section class="marketing-welcome-explanation section">
  <div>
    <aside></aside>

    <article>
      <div>
        <h2><%= t(".title") %></h2>
        <p><%= t(".line_1") %></p>
        <br />
        <p><%= t(".line_2") %></p>
        <br />
      </div>
    </article>

  </div>
</section>
