<div class="container marketing-welcome-explanation">
  <div class="row">
    <div class="col-6">
      <h3>Complete Concierage Scheduling</h3>
      <p>
        Spend more time on your business while we handle your scheduling.
        Other scheduling software simply moves scheduling online. We are the
        only one that will do it for you.
      </p>

      <br>
      <p>
        We will import your data, get you and your staff set up and work with
        you to generate your schedules. If you need a change, just send us
        an email.
      </p>
    </div>

    <div class="col-6">
      1234
    </div>
  </div>
</div>
