<section class="marketing-welcome-explanation section">
  <div>
    <aside></aside>

    <article>
      <div>
        <h2>Your Personal Assistant</h2>

        <p>
          Spend more time on your business while we handle your scheduling.
        </p>

        <br/ >
        <p>
          Why buy scheduling software that still makes you do scheduling?
          We are the only ones that will do it for you.
        </p>

        <br>
      </div>
    </article>


  </div>
</section>
