<div class="marketing-welcome-footer">
  <div>
    <article>
      <%= image_tag "shared/logos/scheduleless.png" %>
    </article>

    <ul>
      <li>
        <a href="">Knowledge Base</a>
      </li>

      <li>
        <a href="">Try For Free</a>
      </li>

      <li>
        <a href="">Login</a>
      </li>

      <li>
        <a href="">Support@scheduleless.com</a>
      </li>
    </ul>

    <section>
      Made with <span>♥</span> in Boston
    </section>
  </div>
</div>
