<div class="marketing-welcome-footer">
  <div>
    <div>
      <article>
        <%= image_tag "shared/logos/scheduleless.png" %>
      </article>

      <ul>
        <li>
          <%= link_to "Knowledge Base", "https://support.scheduleless.com/" %>
        </li>

        <li>
          <%= link_to "Try For Free", new_onboarding_registration_path %>
        </li>

        <li>
          <%= link_to "Sign In", new_user_session_path %>
        </li>

        <li>
          <a href="mailto:support@scheduleless.com">Support@scheduleless.com</a>
        </li>
      </ul>

      <section>
        Made with <span>♥</span> in Boston
      </section>
    </div>
  </div>
</div>
