<div class="marketing-welcome-homepage-features">
  <h5>All the things you need to run your schedules</h5>

  <section>
    <article>
      <div class="feature">
        <h6>Multiple locations</h6>
        Some text about the feature can go here
      </div>
      <div class="feature">
        <h6>Overtime calculation</h6>
        Some text about the feature can go here
      </div>
      <div class="feature">
        <h6>Recurring shifts</h6>
        Some text about the feature can go here
      </div>
    </article>

    <article>
      <div class="feature">
        <h6>Feature Name</h6>
        Some text about the feature can go here
      </div>
      <div class="feature">
        <h6>Feature Name</h6>
        Some text about the feature can go here
      </div>
      <div class="feature">
        <h6>Feature Name</h6>
        Some text about the feature can go here
      </div>
    </article>
  </section>
</div>
