<div class="industries">
  <div>
    <h4>For Any Industry</h4>
  </div>
  <section>
    <div>
      <div>
        <span class="oi oi-cart"></span>
        Retail
      </div>
      <div>
        <span class="oi oi-map-marker"></span>
        Bars / Cafes / Restaurants
      </div>
      <div>
        <span class="oi oi-flag"></span>
        Entertainment
      </div>
      <div>
        <span class="oi oi-briefcase"></span>
        Professional Services
      </div>
    </div>
  </section>
</div>
