<div style="background-color: #ffffff; min-height: 450px;">
  <div class="row">
    <div class="col-6">
      Available on iOS and Android, Scheduleless's mobile apps provide the
      most convienant experience for your employees. They can receive their
      schedules, clock in and out, trade shifts, and put in time off requests.
    </div>

    <div class="col-6">
    </div>
  </div>
</div>
