<div class="marketing-welcome-mobile-apps section">
  <div>
    <article>
      <div>
        <h2>Mobile Apps</h2>
        Available on iOS and Android.

        <ul>
          <li>Check your schedule</li>
          <li>Clock in and out</li>
          <li>Trade Shifts</li>
          <li>Accept Time Off Requests</li>
        </ul>
      </div>
    </article>

    <aside>
      <a href="#" class="app-store"></a>
      <a href="#" class="play-store"></a>
    </aside>
  </div>
</div>
