<%= render partial: "hero_section" %>

<div style="background-color: #ffffff; min-height: 450px;">

</div>

<div style="background-color: #484b52; min-height: 450px;">

</div>


<% if Rails.env.production? %>
  <%= render partial: "layouts/shared/reamaze" %>
<% end %>
