<section class="hero">
  <article class="content-section">
    <div>
      <section>
        <%= render partial: "layouts/marketing/navbar" %>
        Some content goes here
      </section>
    </div>
  </article>
</section>

<% if Rails.env.production? %>
  <script type="text/javascript">
    var _support = _support || { 'ui': {}, 'user': {} };
    _support['account'] = 'scheduleless';
    _support['ui']['widget'] = true;
  </script>
  <%= render partial: "reamaze/reamaze",
    locals: { brand_subdomain: "support" } %>
<% end %>
