<section class="section marketing-welcome-pricing">
  <div>

    <article>
      <div>
        <h2>Transparent Pricing</h3>

        No hidden features or upgrades. Use the entire platform without
        being nickel and dimed for the features you want.
      </div>
    </article>

    <aside>
      <div class="price">
        <section>
          <div>
            <sup>$</sup><span>3</span>
          </div>
          <div class="per-employee">per employee</div>

          <%= link_to t(".call_to_action"),
            new_onboarding_registration_path,
            class: "button orange"
          %>

          <ul>
            <li>
              <span class="oi oi-circle-check"></span>
              <strong>We do your scheduling!</strong>
            </li>
            <li>
              <span class="oi oi-circle-check"></span>
              Time Clock and Reporting
            </li>
            <li>
              <span class="oi oi-circle-check"></span>
              Trade Shifts
            </li>
            <li>
              <span class="oi oi-circle-check"></span>
              Time Off Requests
            </li>
            <li>
              <span class="oi oi-circle-check"></span>
              Multiple Locations
            </li>
            <li>
              <span class="oi oi-circle-check"></span>
              No Hassle Set Up
            </li>
            <li>
              <span class="oi oi-circle-check"></span>
              Schedule well into the future
            </li>
            <li>
              <span class="oi oi-circle-check"></span>
              Android and iOS Apps
            </li>
          </ul>

        </section>
      </div>
    </aside>

  </div>
</section>
