<section class="marketing-welcome-setup section">
  <div>
    <article>
      <h2>The Easiest Setup <small>(actually no setup)</small></h2>

      <p>
        We know you are busy. That's why we do all heavy lifting for you.
      </p>

      <p>
        Don't bother spending hours to input all your data into other
        systems. We can take care of it for you. Need a change? Just send us
        a message.
      </p>

      <%= link_to "Learn More", how_it_works_path, class: "button white" %>
    </article>

    <aside>
    </aside>
  </div>
</section>
