<div class="marketing-welcome-time-clock section">
  <div>
    <article>
      <h2><%= t(".title") %></h2>
      <p><%= t(".line_1") %></p>
      <p><%= t(".line_2") %></p>
    </article>

    <aside>
    </aside>
  </div>
</div>

<%# note this partial is weird because these divs are pushed and pulled to %>
<%# be the opposite of the order they appear to help with mobile view %>
