<div class="marketing-welcome-time-clock">
  <div class="row">
    <div class="col-6">
    </div>

    <div class="col-6">
      Employee Time Tracking built in at no extra cost. After we create your
      schedules we will let your employees know on their mobile devices. They
      can clock in and out and we will send you the summarized hours at the end
      of each scheduling period.
    </div>
  </div>
</div>
