<div class="marketing-welcome-time-clock section">
  <div>
    <aside>
    </aside>

    <article>
      <h2>Track Time</h2>
      <p>
        Employee Time Tracking built in. At no extra cost.
      </p>

      <p>
        Employees can clock in and out on their mobile devices. Get a "to the
        minute summary" of the total hours worked. We will review for any
        anomalies you may need to look into.
      </p>

    </article>
  </div>
</div>
