this is the index html erb
<br><br>
<%= link_to "GO INSIDE", calendar_path %>
<br><br>
<div>
<%= link_to "SIGN IN", new_user_session_path %>
</div>

<%= link_to "  SIGN UP  ", new_onboarding_registration_path %>
