<div class="marketing-welcome-pricing-view">
  <header class="header">
    <%= render partial: "layouts/marketing/navbar" %>
  </header>

  <%= render partial: "pricing" %>
  <%= render partial: "footer" %>
</div>
