<div class="marketing-welcome-pricing-view">
  <header class="header">
    <%= render partial: "layouts/marketing/navbar" %>
  </header>

  <section class="hero-section">
    <div>
      <h3>Scheduling Software Should Make Your Life Easier</h3>
      <small>No hidden fees or surprise upgrade tiers. All the features you want are included.</small>
    </div>
  </section>

  <%= render partial: "pricing" %>
  <%= render partial: "footer" %>
</div>
