.dashboards-available-shifts {
  display: flex;
  flex-direction: column;
  width: 100%;

  h2, h3 {
    color: darken($purple, 10%);
    font-weight: 200;
  }

  .empty-message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
    margin: auto;

    > div {
      text-align: center;
      padding-bottom: 36px;
    }
  }
}
