.dashboards-whose-working {
  .location {
    header {
      background-color: $blue; // darken(#ebf0f8, 40%);
      color: $white;
      display: flex;
      padding: 5px 15px;

      > div {
        &:last-child {
          margin-left: auto;
        }

        a {
          color: $white;
          font-size: 80%;
          display: inline;
        }
      }
    }
  }
}
