.reporting-time-sheets-user-breakdown {
  background-color: $white;
  min-height: 300px;

  td span {
    color: lighten($orange, 15%);
    font-size: 1.1rem;
    margin-left: 5px;
    vertical-align: middle;
  }

  td.out-of-range {
    color: $red;
  }
}
