$enable-rounded: false;

$blue-dark:                      #5f97ff;
$blue-light:                     #ebf0f8;
$gray-light:                     #a0acb9;
$gray-dark:                      #41454b;
$green:                          #5bd1b1;
$orange:                         #ffbc42;
$purple:                         #9b80d1;
$white:                          #ffffff;


$brand-primary:                  $blue-dark;
$body-bg:                        $white;

$header-bg:                      $brand-primary;
$footer-bg:                      #00535c;

$dark-text:                      $gray-dark;
$font-dark:                      $gray-dark;

$font-family-serif: "Montserrat", serif;
$font-family-sans-serif: "Whitney", Helvetica, Roboto, sans-serif;
