<div class="actions">
  <div>
    <%= link_to shift.details_url, remote: true do %>
      <span class="oi oi-pencil"></span>
    <% end %>
  </div>

  <div>
    <%= link_to shift.favorite_url, remote: true do %>
      <span class="oi oi-star"></span>
    <% end %>
  </div>

  <div>
    <%= link_to shift.repeat_url, remote: true do %>
      <span class="oi oi-loop-circular"></span>
    <% end %>
  </div>

  <div>
    <a href="#">
      <span class="oi oi-trash"></span>
    </a>
  </div>
</div>
