.layouts-shared-side-menu {
  background: $primary-dark-bg;
  width: 65px;
  display: block;

  ul {
    li {
      color: $font-light;
      display: block;
      width: 65px;
      margin: 15px 0;
      height: 50px;
      line-height: 55px;
      text-align: center;

      &.seperator {
        height: 0;
        border-top: 1px solid $dark-seperator;
        border-bottom: 1px solid $light-seperator;
        margin: 0 10px;
        width: 50px;
      }

      &.active {
        border-left: 4px solid #5f97ff;
        color: $white;
        width: 61px;

        a {
          color: $white;
        }
      }

      a {
        color: $font-light;
        display: block;

        &:hover {
          color: $white;
        }
      }
    }
  }
}



@media (max-width: map-get($grid-breakpoints, lg)) {
  .side-menu {
    display: none;
  }
}
