.top-nav {
  background-color: #fff;
  max-height: 65px;

  .search-icon {
    color: $white;
  }

  .search-icon button {
    background-color: #5f97ff;
    cursor: pointer;
    font-size: 30px;
    font-weight: 200px;
    height: 65px;
    min-width: 65px;
    line-height: 60px;
    text-align: center;
    width: 65px;
  }

  #profile-button {
    background-color: $white;
    border: 1px solid #d3d3d3;
    border-radius: 50%;
    cursor: pointer;
    line-height: 60px;
    margin: 5px 0;
    margin-right: 15px;
    margin-left: auto;

    text-align: center;
    width: 55px;

    > section {
      background-color: #f3f3f3;
      border-radius: 50%;
      height: 45px;
      margin: 4px;
      overflow: hidden;
      width: 45px;

      span {
        color: $blue;
        color: #5bd1b1;
        font-size: 40px;
        margin-top: 7px;
      }
    }

    > div {
      line-height: 20px;
    }
  }

  #new_employee_and_location_search {
    &.collapsing {
      width: 0;
      @include transition($transition-collapse-horizontal);
    }

    > div {
      border-right: 1px solid $font-light;
      min-height: 55px;
      margin: 5px 0;
      line-height: 55px;
      vertical-align: center;
    }
  }

  input {
    height: 45px;
    margin: 0;
    margin-left: 35px;
    margin-right: 45px;
    padding-left: 15px;
    padding-right: 15px;
  }

  ul.top-nav-list {
    margin: 0;

    li {
      float: left;
      line-height: 65px;
      margin-right: 75px;

      a {
        color: $font-dark;
      }

      &:first-child {
        margin-left: 30px;
      }

      &.active a {
        color: #5f97ff;
      }

      &.seperator {
        border-left: 2px solid darken($white, 10%);
        min-width: 2px;
        height: 45px;
        margin: 10px 50px 10px 0;
      }

      &:last-child {
        margin-right: 5px;
      }
    }
  }

  > button {
    background-color: $white;
    color: $font-dark;
    border: none;
    display: none;
    outline: none;
    margin-left: auto;
  }
}

#mobile-menu {
  background-color: $primary-dark-bg;
  // padding: 30px;
  ul {
    margin: 30px;
  }

  ul > li {
    @include hoverable;
    padding: 15px;
    text-align: right;
  }

  ul li a{
    color: $font-light;
  }
}

// ensure mobile menu is hidden when screen is large
@media (min-width: map-get($grid-breakpoints, lg)) {
  #mobile-menu {
    display: none;
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  // hide top nav list on small screens
  .top-nav {
    .top-nav-list {
      display: none;
    }

    // show mobile nav toggle buttons on small screens
    button {
      display: block;
    }

    #profile-button {
      display: none;
    }
  }
}
