.top-nav {
  background-color: #fff;
  max-height: 85px;

  .search-icon {
    background-color: #5f97ff;
    font-size: 30px;
    font-weight: 200px;
    text-align: center;
    line-height: 85px;
  }

  input {
    height: 45px;
    margin: 20px;
    margin-left: 35px;
    margin-right: 45px;
    padding-left: 15px;
    padding-right: 15px;
  }

  ul.top-nav-list {
    margin: 0;

    li {
      float: left;
      line-height: 85px;
      margin: 0 50px;

      a {
        color: $font-dark;
      }

      &.active a {
        color: #5f97ff;
      }

      &.seperator {
        border-left: 2px solid darken($white, 10%);
        min-width: 2px;
        height: 65px;
        margin: 10px 50px 10px 0;
      }
    }
  }

  button {
    background-color: $white;
    border: none;
    display: none;
    outline: none;
  }
}

#mobile-menu {
  background-color: $primary-dark-bg;
  // padding: 30px;
  ul {
    margin: 30px;
  }

  ul > li {
    @include hoverable;
    padding: 15px;
    text-align: right;
  }

  ul li a{
    color: $font-light;
  }
}

// ensure mobile menu is hidden when screen is large
@media (min-width: map-get($grid-breakpoints, lg)) {
  #mobile-menu {
    display: none;
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  // hide top nav list on small screens
  .top-nav {
    .top-nav-list {
      display: none;
    }

    // show mobile nav toggle buttons on small screens
    button {
      display: block;
    }
  }

  #mobile-menu {
  }
}
