.blog-admin-blog-posts-form {
  margin-top: 25px;

  trix-editor {
    min-height: 450px;
  }

  .input.file {
    margin-bottom: 5px;
  }

  small {
    display: block;
    color: $blue;
    margin-bottom: 20px;
  }
}
