$enable-rounded:                 false;

$dark-blue:                      #6695fb;
$gray-light:                     #a0acb9;
$gray-dark:                      #484b52;
$green-notice:                   #dff0d8;
$light-blue:                     #33a0fc;
$orange:                         #ffbc42;
$purple:                         #9b80d1;
$red:                            #d9534f;
$white:                          #ffffff;

$brand-primary:                  $dark-blue;
$body-bg:                        $dark-blue;
$header-bg:                      $brand-primary;

$footer-bg:                      #00535c;

$dark-text:                      #333333;

$headings-font-weight:           200;

$font-light:                     $gray-light;
$font-dark:                      $gray-dark;

$font-family-serif:              "Montserrat" serif;
$font-family-sans-serif:         "Whitney", Helvetica, Roboto, sans-serif;


$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border-color:      darken($state-danger-bg, 5%) !default;

$border-radius:                  3px;
$btn-border-radius:              3px;


// upgrading to 4.3
$btn-primary-color: $dark-blue;
$btn-primary-bg: $dark-blue;
$btn-primary-border: $dark-blue;
$cursor-disabled:                not-allowed !default;
