$enable-rounded:                 false;

$dark-blue:                      #5f97ff;
$gray-light:                     #a0acb9;
$gray-dark:                      #41454b;
$light-blue:                     #33a0fc;
$white:                          #ffffff;

$brand-primary:                  $dark-blue;
$body-bg:                        $dark-blue;
$header-bg:                      $brand-primary;

$footer-bg:                      #00535c;

$dark-text:                      #333333;

$headings-font-weight:           200;

$font-light:                     $gray-light;
$font-dark:                      $gray-dark;

$font-family-serif:              "Montserrat" serif;
$font-family-sans-serif:         "Roboto" sans-serif;

