.dashboards-upcoming-shifts-shift {
  display: flex;
  flex-direction: row;
  font-size: .9rem;
  padding: 10px 15px;

  .date {
    color: darken($purple, 0%);
    font-size: 1rem;
    letter-spacing: 2px;
    max-width: 120px;
    width: 25%;
    vertical-align: middle;
  }

  .time {
    color: lighten($gray-dark, 20%);
    display: flex;
    flex-direction: column;

    span {
      color: $purple;
      font-size: 1rem;
      letter-spacing: 1px;
    }

    > div {
      &:first-child {
        margin-top: auto;
      }

      &:last-child {
        margin-bottom: auto;
      }
    }
  }

  .location {
    // margin-left: auto;
    min-width: 150px;
  }
}
