.dashboards-approvals-time-off-approval {
  background-color: $white;
  border: 1px solid lighten($purple, 20%);
  border-radius: 3px;
  display: block;
  margin-bottom: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;

  > header {
    display: flex;
    flex-direction: row;

    > div:first-child {
      padding: 5px 15px;

      > div {
        align-items: center;
        background-color: lighten($purple, 20%);
        border: 1px solid $purple;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        min-height: 30px;
        min-width: 30px;
      }

      .oi {
        color: $purple;
        font-size: 1.3rem;
      }
    }
  }

  > article {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: center;
    margin: 10px auto 5px auto;

    > div {
      display: flex;

      &.approve input[type=submit], &.deny input[type=submit] {
        cursor: pointer;
        display: block;
        padding: 7px 25px;
        text-align: center;
      }

      &.approve input[type=submit] {
        background-color: #f4fcfa;
        border-color: darken($green-notice, 30%);
        border-radius: 3px;
        color: darken($green-notice, 40%);
        margin-right: 15px;
        margin-left: auto;
      }

      &.deny input[type=submit] {
        background-color: #fff5f6;
        border-color: $red;
        border-radius: 3px;
        color: $red;
        margin-right: auto;
        margin-left: 15px;
      }
    }
  }
}
