.dashboards-approvals-time-off-approval {
  display: block;
  width: 100%;

  > header {
    background-color: $blue;
    color: $white;
    padding: 5px 15px;
  }

  > article {
    border-bottom: 1px solid $gray-light;
    display: flex;
    flex-direction: row;
    font-size: 12px;

    > div {
      display: flex;

      &.message {
        padding: 5px 0 5px 15px;
      }

      &.approve button,a, &.deny button,a {
        background-color: transparent;
        border: none;
        color: $white;
        cursor: pointer;
        display: block;
        min-width: 54px;
        line-height: 54px;
        padding: 0 15px;
        text-align: center;
      }

      &.approve {
        background-color: darken($green, 6%);
        box-shadow: inset 0 0 5px darken($green, 20%);
        color: $white;
      }

      &.deny {
        background-color: lighten($red, 10%);
        box-shadow: inset 0 0 5px $red;
        color: $white;
        margin-left: auto;
      }
    }
  }
}
