td > form {
  display: inline;
}

form {
  .inline-flex {
    display: inline-flex;
  }

  .inline {
    display: flex;
    flex-direction: row;
    max-width: 400px;
    vertical-align: top;

    label {
      display: block;
    }

    .check_boxes {
      label,small {
        display: block;
      }

      .checkbox {
        display: inline-block;
        padding-right: 15px;
      }
    }

    .input {
      flex: 1;
      max-width: 420px;
      padding-right: 15px;
      vertical-align: top;

      &:last-child {
        padding-right: 0;
      }
    }

    .input.boolean {
      .checkbox {
        margin-top: 32px;
      }
    }
  }
}

.input {
  margin-bottom: 25px;
  &.hidden {
    margin-bottom: 0;
  }

  label {
    font-weight: 400;
    color: lighten($font-dark, 15%);
    margin-bottom: 4px;
  }

  input, select {
    @include box-shadow($input-box-shadow);
    @include transition($input-transition);

    background-clip: padding-box;
    background-image: none;
    background-color: $input-bg;
    border: $input-btn-border-width solid $input-border-color;
    border-radius: 3px;
    color: $input-color;
    display: block;
    font-size: 14px;
    line-height: $input-line-height;
    max-width: 400px;
    min-width: 100px;
    padding: 6px 10px;
    width: 100%;

    &:focus {
      border-color: $blue;
      outline: 0;
    }

    &:disabled {
      background-color: darken($white, 5%);
      color: darken($gray-light, 10%);
      opacity: 1;
    }
  }

  input {
    border-color: rgba(0, 0, 0, 0.14902);
    border-width: 1px;
    border-radius: 4px;
    display: block;
    padding: 8px 12px;
    text-shadow: none;
    width: 100%;
  }


  &.select .input-wrap,
  &.country .input-wrap,
  &.time_zone .input-wrap {
    max-width: 400px;
    position: relative;
  }

  &.select .input-wrap::after,
  &.country .input-wrap::after,
  &.time_zone .input-wrap::after{
    font-family: 'Icons';
    content: "\e05a";
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 10px;
    z-index: auto;
  }

  select {
    background-position: right 5px top;
    border-radius: 4px;
    padding: 4px 8px;
    padding-right: 15px;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    &::-ms-expand {
      background-color: transparent;
      border: 0;
    }

    &:not([size]):not([multiple]) {
      $select-border-width: ($border-width * 2);
      height: calc(#{$input-height} + #{$select-border-width});
    }

    &:focus::-ms-value {
      color: $input-color;
      background-color: $input-bg;
    }
  }

  small {
    color: $blue;
    display: block;
    max-width: 400px;
  }

  &.has-error {
    input, select {
      border-color: $red;
    }

    label {
      color: $red;
    }

    .help-block {
      color: $red;
      font-size: .8em;
    }
  }

  .checkbox {
    label > input {
      display: inline-block;
      width: 25px;
    }
  }
}

input[type=submit], button[type=submit] {
  cursor: pointer;
}

.form-check-inline {
  display: inline-block;
  margin-right: 12px;

  > label {
    padding-left: 20px;
  }

  > label > input {
    margin-left: -20px;
    margin-right: 5px;
  }
}

.check_boxes {
  & > label {
    display: block;
  }

  & > small {
    margin-bottom: 5px;
  }
}

.input.radio_buttons {
  span.radio {
    display: block;

    label {
      display: block;
      width: 100%;
    }

    label > input {
      display: inline;
      max-width: 25px;
    }
  }
}
