div.input {
  margin-bottom: 16px;
  &.hidden {
    margin-bottom: 0;
  }

  input {
    border-color: rgba(0, 0, 0, 0.14902);
    border-width: 1px;
    border-radius: 4px;
    display: block;
    padding: 8px 12px;
    text-shadow: none;
    width: 100%;
  }
}
