.rail {
  @include make-container();

  padding: 15px 0 15px 0 !important;
  width: 100%;

  & > section {
    @include make-row();
    & > article,aside {
      @include make-col-ready();
    }

    & > article {
      @include make-col(9);
    }

    & > aside {
      @include make-col(3);
    }
  }

  &.narrow {
    & > section {
      & > article {
        @include make-col(10);
      }

      & > aside {
        @include make-col(2);
      }
    }
  }
}

.row {
  @include make-container();
  width: 100%;

  & > section {
    @include make-row();

    & > article {
      @include make-col-ready();
      @include make-col(12);
    }
  }
}

.two-columns {
  width: 100%;

  & > section {
    @include make-row();

    & > article {
      @include make-col-ready();
      @include make-col(6);
    }
  }
}

