.blog-shared-categories {
  border-bottom: 1px solid lighten($blue-dark, 20%);

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      font-size: 11px;
      margin-right: 20px;
      text-transform: uppercase;

      a {
        color: darken($gray-light, 10%);

        &:hover {
          color: $blue-dark;
          text-decoration: none;
        }
      }

      &.selected {
        a {
          color: $blue-dark;
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .blog-shared-categories {
    text-align: center;
    ul {

    }
  }
}
