button, input[type=submit], a.button {
  cursor: pointer;
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $input-btn-border-width solid transparent;
  -webkit-appearance: none;

  @include button-size(
    $btn-padding-y,
    $btn-padding-x,
    $font-size-base,
    $line-height-base,
    $border-radius
  );

  @include button-variant(
    $btn-primary-color,
    $btn-primary-bg,
    $btn-primary-border
  );

  border-radius: $border-radius;

  @include transition($btn-transition);

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: none;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    cursor: $cursor-disabled;
    opacity: .65;
    @include box-shadow(none);
  }

  &:active,
  &.active {
    background-image: none;
    @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
  }

  .oi {
    line-height: $btn-line-height;
  }

  &.orange {
    @include button-variant($white, $orange, darken($orange, 5%));
  }

  &.white {
    @include button-variant(
      $white,
      $gray-light,
      lighten($purple, 20%)
    );
  }
}
