form {
  button[type=submit] {
    background-color: $white;
    border: 0;
    border-radius: 0;
    padding: 2px;
    color: $gray-dark;
  }

  input[type=submit] {
    border-radius: 0;
  }

  .input {
    margin-bottom: 15px;

    label {
      color: darken($font-light, 20%);
      font-size: 14px;
    }

    input, select, textarea {
      @include transition($btn-transition);

      background-clip: padding-box;
      background-image: none;
      background-color: $input-bg;
      border-bottom: 1px solid lighten($font-light, 15%);
      border-radius: 3px;
      -webkit-border-radius: 3px;
      color: darken($font-light, 10%);
      display: block;
      font-size: 14px; // $font-size-base;
      line-height: $input-line-height;
      padding: 6px 10px; //$input-padding-y $input-padding-x;
      width: 100%;

      &:focus, &.focus, &:active {
        border-color: $dark-blue;
        border-bottom: 1px solid $dark-blue;
        outline: 0;
        box-shadow: none;
      }

      &:disabled,
      &[readonly] {
        background-color: darken($white, 5%);
        color: darken($gray-light, 10%);
        opacity: 1;
      }
    }

    input {
      border-top: 1px solid lighten($font-light, 15%);
      border-left: 1px solid lighten($font-light, 15%);
      border-right: 1px solid lighten($font-light, 15%);
    }

    label {
      display: block;
      margin-bottom: 0;
    }

    select {
      background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat;
      background-position: right 5px top;
      border-radius: 4px;

      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;

      border: 1px solid lighten($font-light, 15%);

      height: 31px !important;

      &::-ms-expand {
        background-color: transparent;
        border: 0;
      }

      &:not([size]):not([multiple]) {
        $select-border-width: ($border-width * 2);
        height: calc(#{$input-height} + #{$select-border-width});
      }

      &:focus::-ms-value {
        color: $input-color;
        background-color: $input-bg;
      }
    }

    .checkbox {
      label > input {
        display: inline-block;
        width: 25px;
      }
    }

    &.has-error {
      input {
        border-color: $red;
      }

      label {
        color: $red;
      }

      .help-block {
        color: $red;
        font-size: .8em;
      }
    }

    p.help-block {
      color: $dark-blue;
      font-size: .8em;
    }
  }

  .inline {
    display: flex;
    flex-direction: row;
    vertical-align: top;

    label {
      display: block;
    }

    .check_boxes {
      label,small {
        display: block;
      }

      .checkbox {
        display: inline-block;
        padding-right: 15px;
      }
    }

    .input {
      flex: 1;
      vertical-align: top;
      padding-right: 15px;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  form {
    .inline {
      display: block;

      .input {
        display: block;
        padding: 0;
      }
    }
  }
}
