form {
  button[type=submit] {
    background-color: $white;
    border: 0;
    padding: 2px;
    color: $gray-dark;
  }

  .input {
    margin-bottom: 15px;

    label {
      color: darken($font-light, 20%);
    }

    input, select {
      @include transition($btn-transition);

      background-clip: padding-box;
      background-image: none;
      background-color: $input-bg;
      color: darken($font-light, 10%);
      display: block;
      font-size: $font-size-base;
      line-height: $input-line-height;
      padding: $input-padding-y $input-padding-x;
      width: 100%;

      &:focus, &.focus {
        border-color: $dark-blue;
        outline: 0;
        box-shadow: none;
      }
    }

    input {
      border-top: 0;
      border-left: 0;
      border-right: 0;
    }

    label {
      display: block;
      margin-bottom: 0;
    }

    select {
      &::-ms-expand {
        background-color: transparent;
        border: 0;
      }

      &:not([size]):not([multiple]) {
        $select-border-width: ($border-width * 2);
        height: calc(#{$input-height} + #{$select-border-width});
      }

      &:focus::-ms-value {
        color: $input-color;
        background-color: $input-bg;
      }
    }

    .checkbox {
      label > input {
        display: inline-block;
        width: 25px;
      }
    }

    &.has-error {
      input {
        border-color: $red;
      }

      label {
        color: $red;
      }

      .help-block {
        color: $red;
        font-size: .8em;
      }
    }

    p.help-block {
      color: $dark-blue;
      font-size: .8em;
    }
  }
}
