<div class="frame dashboard-approvals">
  <header class="light">
    <div>Approvals</div>
  </header>

  <section>
    <% if presenter.trade_approvals? %>
      <% presenter.trade_approvals.map do |key, offers| %>
        <%= render partial: "dashboards/approvals/trade_approval", locals: {
          trade: presenter.trade_for(key),
          shift: presenter.trade_for(key).shift,
          offers: offers
        } %>
      <% end %>

      <% presenter.time_off_approvals.each do |time_off_request| %>
        <%= render partial: "dashboards/approvals/time_off_approval", locals: {
          time_off_request: time_off_request
        } %>
      <% end %>
    <% else %>
      <div class="empty-message">
        <h3>You're caught up!</h3>
        <span class="oi oi-circle-check"></span>
        <p>We'll let you know when something comes up. Enjoy the downtime!</p>
      </div>
    <% end %>
  </section>
</div>
