<div class="frame dashboard-approvals">
  <header class="light">
    <div><%= t(".approvals") %></div>
  </header>

  <section>
    <div class="empty-message">
      <h3><%= t(".caught_up")%></h3>
      <span class="oi oi-circle-check"></span>
      <p><%= t(".downtime") %></p>
    </div>
  </section>
</div>
