<div class="frame dashboard-approvals">
  <header class="light">
    <div>Approvals (Managers Only)</div>
  </header>

  <section>
    <div class="empty-message">
      <h3>You're caught up!</h3>
      <span class="oi oi-circle-check"></span>
      <p>We'll let you know when something comes up. Enjoy the downtime!</p>
    </div>
  </section>
</div>
