<div class="dashboard-approvals">
  <h2>Approvals</h2>

  <% if presenter.trade_approvals? || presenter.time_off_approvals? %>
    <section>
      <% presenter.trade_approvals.map do |key, offers| %>
        <%= render partial: "dashboards/approvals/trade_approval", locals: {
          trade: presenter.trade_for(key),
          shift: presenter.trade_for(key).shift,
          offers: offers
        } %>
      <% end %>

      <% presenter.time_off_approvals.each do |time_off_request| %>
        <%= render partial: "dashboards/approvals/time_off_approval", locals: {
          time_off_request: time_off_request
        } %>
      <% end %>
    </section>
  <% else %>
    <div class="empty-message">
      <div>
        <h3>You're caught up!</h3>
        <span class="oi oi-circle-check"></span>
        <p>We'll let you know when something comes up. Enjoy the downtime!</p>
      </div>
    </div>
  <% end %>
</div>
