<div class="frame fill">
  <header class="light">
    <div>Available Shifts</div>
  </header>

  <section>
    <article>
      <% if [].blank? %>
        no shifts
      <% else %>
        there are some shifts!
      <% end %>
    </article>
  </section>
</div>
