<div class="frame fill">
  <header class="light">
    <div>Available Shifts</div>
  </header>

  <section>
    <% if [].blank? %>
      <div class="empty-message">
        <h3>No Shifts Are Available</h3>
        Looking for more hours?<br />
        <%= link_to "Adjust your availability preferences.", edit_user_path %>
      </div>
    <% else %>
      there are some shifts!
    <% end %>
  </section>
</div>
