<div class="frame fill">
  <header class="light">
    <div>Available Shifts</div>
  </header>

  <section>
    <% if presenter.trades? %>
      <% presenter.trades.each do |trade| %>
        <%= render partial: "dashboards/available_shifts/shift", locals: {
          trade: trade
        } %>
      <% end %>
    <% else %>
      <div class="empty-message">
        <h3>No Shifts Are Available</h3>
        Looking for more hours?<br />
        <%= link_to "Adjust your availability preferences.", edit_user_path %>
      </div>
    <% end %>
  </section>
</div>
