<section class="dashboards-available-shifts">
  <h2>Available Shifts</h2>

  <% if presenter.trades? %>
    <% presenter.trades.each do |trade| %>
      <%= render partial: "dashboards/available_shifts/shift", locals: {
        trade: trade
      } %>
    <% end %>
  <% else %>
    <div class="empty-message">
      <div>
        <h3>No Shifts Are Available</h3>
        Already made some offers?<br />
        <%= link_to "Review your oustanding trades.", trades_path %>
      </div>
    </div>
  <% end %>
</section>
