<div class="dashboard-calendar-sidebar">
  <header>
    <%= Date::MONTHNAMES[Date.today.month] %>
  </header>
  <%= render partial: "calendars/calendar",
    locals: {
    presenter: CalendarPresenter.new(day: selected_date,
                                     format: :small,
                                     location: @location)
  } %>
</div>
