<% display_date = begin
                    selected_date
                  rescue
                    Date.today
                  end %>

<div class="dashboard-calendar-sidebar">
  <%= render partial: "calendars/calendar",
    locals: {
    presenter: CalendarPresenter.new(schedule_start: current_company.schedule_start,
                                     day: display_date,
                                     location: current_company.locations.first)
  } %>
</div>
