<% display_date = begin
                    selected_date
                  rescue
                    Date.today
                  end %>

<div class="dashboard-calendar-sidebar">
  <header>
    <%= Date::MONTHNAMES[display_date.month] %>
  </header>

  <%= render partial: "calendars/calendar",
    locals: {
    presenter: CalendarPresenter.new(company: current_company,
                                     day: display_date,
                                     format: :small,
                                     location: current_company.locations.first)
  } %>
</div>
