<div class="frame dashboard-no-locations">
  <section>
    <article class="centered">
      <div class="icon">
        <span class="oi oi-lightbulb"></span>
      </div>


      <h1>Where's the light switch?</h1><br />

      <section>
        You don't belong to any locations yet. You probably won't be able to see
        anything yet. Let your manager know to add you to their location so you
        can start getting shifts scheduled.
      </section>
    </article>
  </section>
</div>
