<div class="dashboards-quick-links">
  <h4>Helpful Links</h4>
  <%= link_to "Manage Positions", settings_positions_path %><br />
  <%= link_to "Manage Locations", locations_path %><br />
  <%= link_to "Add an Employee", new_business_user_path %><br />
  <%= link_to "Schedule", default_calendar_path_for(current_user) %><br />
</div>
