<div class="frame fill dashboards-whose-working">
  <header class="light">
    <div>
      Who's Working?
    </div>
  </header>

  <section>
    <% presenter.locations.map do |location| %>
      <div class="location">
        <header>
          <div>
            <%= location.name %>
          </div>
          <div>
            <%= presenter.next_event_line_for(location) %>
          </div>
        </header>

        <%= render partial: presenter.location_partial_for(location),
          locals: { location: location, presenter: presenter } %>
      </div>
    <% end %>
  </section>
</div>
