<div class="dashboards-whose-working">
  <section>
    <% presenter.locations.map do |location| %>
      <h2><%= location.name %></h2>

      <% if 1==2 %>
      <%= presenter.next_event_line_for(location) %>

      <% if presenter.manage? %>
          <%= link_to "(edit)",
            locations_location_scheduling_hours_path(location) %>
        <% end %>
      <% end %>

      <div>
        <%= render partial: presenter.location_partial_for(location),
          locals: { location: location, presenter: presenter } %>
      </div>
    <% end %>
  </section>
</div>
