<div class="dashboards-whose-working">
  <section>
    <% presenter.locations.map do |location| %>
      <article>
        <h2><%= location.name %></h2>

        <div>
          <%= render partial: presenter.location_partial_for(location),
            locals: { location: location, presenter: presenter } %>
        </div>
      </article>
    <% end %>
  </section>
</div>
