<div class="frame fill">
  <header class="light">
    <div>
      <%= t(".whose_working") %>
    </div>
  </header>

  <section>
    <% if 1 == 2 %>
      <% Shift.last(8).each do |shift| %>
        <div class="row">
          this is a shift
        </div>
      <% end %>
    <% else %>
      <div class="empty-message">
        <h3><%= t(".closed") %></h3>
        <span class="oi oi-moon"></span>
        <p>We open at 9am on Tuesday.</p>
      </div>
    <% end %>
  </section>
</div>
