<div class="frame fill">
  <header class="light">
    <div>
      Whose Working?
    </div>
  </header>

  <section>
    <% Shift.last(8).each do |shift| %>
      <div class="row">
        this is a shift
      </div>
    <% end %>
  </section>
</div>
