.months {
  div {
    text-align: center;
  }

  .selected {
    color: $white;
    background-color: #5f97ff;
  }
}

table.calendar-large {
  thead th {
    text-align: center;
    width: 14.2857143%
  }
  tbody tr {
    min-height: 40px;
    border-top: none;
    border-bottom: none;
  }

  tbody td {
    border-top: none;
    border-bottom: none;
    font-size: 18px;
  }

  td.inactive {
    a {
      color: lighten(#737a86, 35%);

      &:hover, &:focus {
        color: lighten(#737a86, 10%);
        text-decoration: none;
      }
    }
  }

  td > div{
    line-height: 40px;
    min-height: 40px;
    padding: 20px 12px;
    text-align: center;

    a {
      color: $font-dark;

      &:hover, &:focus {
        color: $font-dark;
        text-decoration: none;
      }
    }
  }

  td .today {
    background-color: #5bd1b1;
    color: $white;
    margin: auto;
    line-height: 40px;
    height: 40px;
    max-height: 40px;
    max-width: 40px;
    width: 40px;

    a {
      color: $white;

      &:hover, &:focus {
        color: $white;
        text-decoration: none;
      }
    }
  }

  td .selected-day {
    border: 4px solid $blue;
    margin: auto;
    line-height: 32px;
    height: 40px;
    max-height: 40px;
    max-width: 40px;
    width: 40px;  }
}
