.day-schedule {
  overflow-x: auto;

  & > div {
    min-width: 1161px;
    position: relative;
    width: 1161px;
  }

  .labels {
    display: flex;
    margin-left: 180px;

    > div {
      display: inline-block;
      // font-size: 1.1em;
      min-width: 40px;
      text-align: center;
      width: 40px;
    }
  }

  .ruler {
    bottom: 0;
    display: flex;
    min-height: 30px;
    min-width: 960px;
    position: absolute;
    left: 200px;
    top: 25px;
    width: 960px;

    & > div {
      border-left: 1px solid $font-light;
      display: inline-block;
      min-width: 40px;
    }
  }

  .employee {
    display: flex;
    height: 40px;
    margin-bottom: 15px;
    margin-top: 5px;


    .email, .shifts {
      display: inline-block;
      padding-left: 15px;
    }

    .email {
      line-height: 40px;
      max-width: 200px;
      text-overflow: hidden;
      width: 200px;
    }

    .shifts {
      position: relative;
      width: 960px;

      > div {
        background-color: lighten($green, 20%);
        border: 2px solid $green;
        border-radius: 2px;
        height: 40px;
        min-height: 40px;
        position: absolute;
      }
    }

    &:nth-child(even) {
      .shifts {
        > div {
          background-color: lighten($blue, 20%);
          border: 2px solid $blue;
        }
      }
    }
  }
}
