.day-schedule {
  overflow-x: auto;



  & > div {
    position: relative;
  }

  .labels {
    display: flex;
    margin-left: 180px;

    > div {
      display: inline-block;
      // font-size: 1.1em;
      min-width: 40px;
      text-align: center;
      width: 40px;
    }
  }

  .ruler {
    bottom: 0;
    display: flex;
    min-height: 30px;
    position: absolute;
    left: 200px;
    top: 25px;

    & > div {
      border-left: 1px solid $font-light;
      display: inline-block;
      min-width: 40px;
    }
  }



  .employee {
    display: flex;
    height: 40px;
    margin-bottom: 15px;
    margin-top: 5px;


    .email, .shifts {
      display: inline-block;
    }

    .email {
      line-height: 40px;
      max-width: 200px;
      text-overflow: hidden;
      width: 200px;
    }

    .shifts {
      position: relative;

      > div {
        background-color: lighten($green, 20%);
        border: 2px solid $green;
        border-radius: 2px;
        height: 40px;
        min-height: 40px;
        position: absolute;
      }
    }

    &:nth-child(even) {
      .shifts {
        > div {
          background-color: lighten($blue, 20%);
          border: 2px solid $blue;
        }
      }
    }
  }

  @for $i from 2 through 25 {
    // each 15 min increment is 10 px
    &.hours-#{$i} {
      > div {
        min-width: ($i * 40) + 201px;
        width: ($i * 40) + 201px;
      }

      .ruler {
        min-width: $i * 40px;
        width: $i * 40px;
      }

      .employee {
        .shifts {
          width: $i * 40px;
        }
      }
    }
  }
}

.empty-schedule {
  font-color: $font-light;
  font-size: 1.2em;
  text-align: center;
  padding: 20px;
}
