.scheduling-hours-show {
  .hours-for-day {
    display: flex;
    flex-direction: row;

    > label, div {
      display: flex;
    }

    > div.scheduling-hours {
      max-width: 300px;
    }

    > label {
      text-align: right;
      line-height: 30px;
      min-width: 125px;
      padding-right: 15px;
      vertical-align: bottom;
    }

    .checkbox {
      padding-left: 15px;
      padding-top: 5px;
    }

    .location_scheduling_hours_minute_open_end {
      padding-left: 15px;
      padding-right: 0;
    }
  }
}


@media (max-width: map-get($grid-breakpoints, lg)) {
  .scheduling-hours-show {
    .inline {
      display: flex;
      flex-wrap: wrap;

      label {
        flex: 0 1 100%;
        display: block;
        text-align: left;
      }

      .input {
        display: block;
        padding-right: 10px;

        &:last-child {
          padding-right: 0;
        }
      }

      .location_scheduling_hours_minute_open_end {
        padding-left: 10px;
        padding-right: 0;
      }
    }
  }
}
