<section class="dashboards-whose-working-location-open">
  <% presenter.shifts_for(location).each do |shift| %>
    <div class="shift">
      <div class="name">
        <%= shift.user.full_name %>
      </div>

      <div class="position">
        <%= shift.position&.name %>
      </div>

      <div class="hours">
        <%= shift.time_range %>
      </div>
    </div>
  <% end %>
</section>
