<div class="dashboards-whose-working-location-closed">
  <div class="empty-message">
    <h3>We're closed right now!</h3>
    <span class="oi oi-moon"></span>
    <p>We open on <%= presenter.opening_time_for(location) %></p>
  </div>
</div>
