<section class="dashboards-whose-working-location-open">
  <div class="shift">
    <div class="name">
      Luna Lovegood
    </div>

    <div class="position">
      Waitress
    </div>

    <div class="hours">
      10am-4pm
    </div>
  </div>

  <div class="shift">
    <div class="name">
      Luna Lovegood
    </div>

    <div class="position">
      Waitress
    </div>

    <div class="hours checked-in">
      10am-4pm
    </div>
  </div>

  <div class="shift">
    <div class="name">
      Luna Lovegood
    </div>

    <div class="position">
      Waitress
    </div>

    <div class="hours late">
      10am-4pm
    </div>
  </div>

</section>
