<div>
  <table>
    <thead>
      <tr>
        <th>Shift Date</th>
        <th>Shift Minute Start</th>
        <th>Shift Minute End</th>
        <th>Shift Employee</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "shift", collection:shifts %>
    </tbody>
  </table>

</div>
