<div class="instructions">
  <div class="center">
    <h3><%= t(".title") %></h3>
  </div>
</div>

<div class="center">
  <%= t(".line_1") %>
  <br /><br /><br />
  <%= t(".line_2") %>
</div>


<footer>
  <div></div>
  <div>
    <%= link_to t(".dashboard"),
      default_calendar_path_for(current_user),
      class: "button white" %>
  </div>
</footer>
