<% content_for(:sidebar) do %>
  <%= render partial: "onboarding/shared/wizard_steps",
    locals: { current_step: 6 } %>
<% end %>

<section style="height: 100%">
  <article>
    <div class="instructions">
      <div class="center">
        <h3><%= t(".title") %></h3>
      </div>
    </div>

    <div class="center">
      <%= t(".line_1") %>
    </div>


    <footer>
      <%= link_to t(".dashboard"),
        dashboard_path,
        class: "button" %>
    </footer>
  </article>
</section>
