$enable-rounded: false;


$white: #ffffff;

// $brand-primary: #ff4f4f;
$brand-primary: #ff1c1c;
// $brand-info: #dcf0ee;

$dark-blue: #5f97ff;
$light-blue: #ebf0f8;

$body-bg: $dark-blue;

$header-bg: $brand-primary;
$footer-bg: #00535c;

$dark-text: #333333;

//

// $body-bg: #48537d; // dark blue

$font-family-serif: "Montserrat" serif;
$font-family-sans-serif: "Roboto" sans-serif;

$headings-font-weight: 200;
