$enable-rounded: false;

$gray-light:                     #a0acb9;
$gray-dark:                      #41454b;
$green:                          #5bd1b1;
$orange: #ffbc42;
$white: #ffffff;
$dark-blue: #5f97ff;
$light-blue: #ebf0f8;
$red:                            #d9534f;
$purple: #9b80d1;

$brand-primary: $dark-blue;
$body-bg: $white;

$header-bg: $brand-primary;
$footer-bg: #00535c;

$dark-text: $gray-dark;
$font-dark: $gray-dark; // TODO: standardize on this one
$font-light: $gray-light;

// FORMS
$input-color: $gray-dark;
$form-border-color: lighten($purple, 15%);
$form-font-size: .9rem;
$form-select-icon-color: lighten($purple, 10%);

$font-family-serif: "Montserrat", serif;
$font-family-sans-serif: "Whitney", Helvetica, Roboto, sans-serif;

$headings-font-weight: 200;
