<div class="frame">
  <header>
    <div>
      Employees
      <aside>
        <%= link_to "Add New Employee", new_locations_location_user_path(location), class: "button" %>
      </aside>
    </div>
  </header>
  <section>
    <% if @presenter.users.empty? %>
      <article class="centered">
        <%= t(".no_users") %>
      </article>
    <% else %>
      <article>
        <div class="locations-edit-users">
          <%= render partial: "users",
            locals: {
              presenter: @presenter
            }
          %>
        </div>
      </article>
    <% end %>
  </section>
</div>
