<div class="rail narrow">
  <section>
    <aside>
      <%= render partial: "locations/sidebar" %>
    </aside>

    <article>
      <%= render partial: "employees", locals: { location: @location } %>
    </article>
  </section>
</div>
