<div class="rail narrow">
  <section>
    <aside>
      <%= render partial: "locations/sidebar" %>
    </aside>

    <article>
      <div class="two-columns">
        <section>
          <article>
            <%= render partial: "locations/employees", locals: { location: @location } %>
          </article>
          <article class="add-employees-form">
            <%= render partial: "locations/add_employee", locals: { location: @location } %>
          </article>
        </section>
      </div>
    </article>
  </section>
</div>
