.marketing-company-inquiries-products {
  @include make-container();
  margin: 50px auto;
  max-width: 960px;

  > section {
    @include make-row();
  }

  > section > article {
    @include make-col-ready();
    @include make-col(6);
  }

  .product {
    background-color: $white;
    border: 1px solid $purple;
    border-radius: 3px;
    color: darken($gray-dark, 20%);
    font-weight: 200;
    min-height: 350px;
    padding: 20px;
    text-align: center;

    > section.market {
      text-align: left;
      margin-top: 30px;
      width: 100%;

      ul {
        padding-left: 20px;
      }
    }
  }
}
