<% content_for(:sidebar) do %>
  <%= render partial: "onboarding/shared/wizard_steps",
    locals: { current_step: 2 } %>
<% end %>

<section>
  <%= render partial: "instructions" %>
  <%= render partial: "form", locals: { location: @location } %>
</section>
