<div style="text-align: center; padding: 30px 15px;">
  <div style="margin-bottom: 30px">
    Your Offer was Declined.
  </div>

  <div>
    <strong>Original Shift:</strong>
  </div>
  <div style="margin-bottom: 15px">
    <%= @offer.trade.shift.selection_label %>
  </div>

  <% if @offer.offered_shift.present? %>
    <div>
      <strong>Offered Shift:</strong>
    </div>
    <div style="margin-bottom: 15px">
      <%= @offer.offered_shift.selection_label %>
    </div>
  <% end %>

  <br />
  <div>
    <%= link_to "See Available Shifts",
      trades_url,
      style: "background-color: #5776bd; color: #ffffff; text-decoration: none; padding: 5px 10px; font-size: 12px" %>
  </div>
</div>
