<div style="color: #61656b; text-align: center; padding-top: 30px; padding-bottom: 30px;">
  <div style="font-size: 13px">
    Your request for time off was approved! Enjoy your vacation!
  </div>

  <br />
  <div style="font-size: 14px">
    <%= @time_off_request.label %>.
  </div>
  <br />
</div>
