<div style="color: #61656b; text-align: center; padding-top: 30px; padding-bottom: 30px;">
  <div style="font-size: 13px">
    <% if @trade.user.email == @user.email %>
      Your trade with <%= @offer.user.full_name %> is waiting for approval.
    <% else %>
      Your trade with <%= @trade.user.full_name %> is waiting for approval.
    <% end %>
    <br />
    We will notify you as soon as it's reviewed.
  </div>


  <br />

  <%= link_to "View More Shifts",
    trades_url,
    style: "background-color: #5776bd; color: #ffffff; text-decoration: none; padding: 5px 10px; font-size: 12px" %>
</div>
