.shared-wizard-steps {
  ul {
    list-style: none;
    height: 100%;
    margin: 0;
    padding-top: 35px;
    padding-left: 20px;

    li {
      color: lighten($dark-blue, 27%);
      display: block;
      font-size: 14px;
      font-weight: 200;
      line-height: 20px;
      letter-spacing: .5px;
      padding: 10px 0;
      vertical-align: center;

      > div {
        flex-direction: row;
      }

      &.completed {
        color: $white;
        font-weight: 200;
      }

      &.current {
        color: $white;
        font-weight: 400;

        span.oi {
          color: $white;

        }
      }
    }
  }

  span.oi {
    color: lighten($dark-blue, 15%);
    font-size: 16px;
    line-height: 20px;
    vertical-align: bottom;
    margin-right: 10px;
    width: 20px;
    text-align: center;

    &.oi-circle-check {
      color: $white;
    }

    &.oi-media-record {
      font-size: 18px;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .shared-wizard-steps {
    ul {
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }
}
