<div class="marketing-company-inquiries-products">
  <section>
    <article>
      <div class="product">
        <%= image_tag("marketing/company_inquiries/products/report.jpg") %>
        <h3>Coworkability Report</h3>
        fjkasfjlsakjf kjsfkl jaskljf kasj
      </div>
    </article>
    <article>
      <div class="product">
        <%= image_tag("marketing/company_inquiries/products/traffic_light.jpg") %>
        <h3>Coworkability Prevent</h3>
        fjkasfjlsakjf kjsfkl jaskljf kasj
      </div>
    </article>
  </section>
</div>
