<div class="marketing-company-inquiries-products">
  <section>
    <article>
      <div class="product">
        <%= image_tag("marketing/company_inquiries/products/report.jpg") %>
        <h3>Coworkability Report</h3>
        Gain access to detailed insights into harassment at your company. We
        combine industry news and trends with our Coworkability Network data
        to assess the effectiveness of your hasssment policies.

        <section class="market">
          <h4>Great For Companies With:</h4>

          <ul>
            <li>More than 1 HR person</li>
            <li>Established reporting system in place</li>
            <li>Existing anti-harassment policies</li>
          </ul>
        </section>
      </div>
    </article>
    <article>
      <div class="product">
        <%= image_tag("marketing/company_inquiries/products/traffic_light.jpg") %>
        <h3>Coworkability Prevent</h3>
        Set up a complete anti-harasssment policy & reporting procedure in minutes.
        Get a detailed risk assessment on every employee and customizable
        notifications to ensure you're never in the dark about harassment.

        <br />
        <section class="market">
          <h4>Great For Companies With:</h4>

          <ul>
            <li>1 or no HR person</li>
            <li>A desire to prevent serious harassment incidents</li>
            <li>No policies & reporting procedures</li>
            <li>A few employees where privacy is difficult</li>
          </ul>
        </section>
      </div>
    </article>
  </section>
</div>
