<%= render partial: "shared/marketing/top_nav" %>

<div class="marketing-company-inquiries-thanks">
  <section>
    <article>
      <h3>Thank You!</h3>
      <br />
      We appreciate your interest and will get back to you as soon as we can!
      <br /><br />
      Coworkability strives to shed light on how your employees are getting
      along. By identifying trends ahead of time we hope to help put an end
      to workplace harassment and bullying in order to make your company an
      even better place to work!
    </article>

    <article>
      <%= image_tag "coworkability/shares/share_illustration.jpg" %>
    </article>
  </section>
</div>

<%= render partial: "marketing/welcome/shared/divider_bar" %>
<%= render partial: "marketing/welcome/shared/footer" %>
