.marketing-welcome-coworkability-hero {
  background-color: #9889e9;
  background: asset-url("marketing/welcome/shared/divider_bar.jpg");
  background-repeat: none;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  // overflow: hidden;
  height: 68vh;
  width: 100%;

  h3 {
    color: $white;
    margin-bottom: 50px;
  }

  article {
    display: flex;
    flex-direction: column;
    margin: auto auto;
  }
}
