<div class="frame">
  <header>
    <div>Create A Popular Time</div>
  </header>

  <section>
    <article>
      <%= render partial: "form", locals: { period: @period } %>
    </article>
  </section>
</div>
