<div>
  this is an available trade <br>
  <%= link_to "Make an Offer", new_trade_offer_path(trade) %><br>
  <%= button_to "Accept", trade_trade_accept_path(trade), method: :post %><br>
</div>
<br><br>
