<div class="frame trades-trade">
  <section>
    <article>
      <%= render partial: "shift", locals: { show_actions: true, trade: trade } %>
    </article>
  </section>
</div>
<%# TODO: Get this stuff into a presenter or something. Dementer is angry %>
