<% if @trades.present? %>
  <%= render @trades %>
<% else %>
  <%# TODO: Update verbage %>
  <div class="frame">
    <section>
      <article class="centered">
        <br><br>
        <%= t(".empty") %>
        <br><br><br>
      </article>
    </section>
  </div>
<% end %>
