<div class="frame">
  <header>
    <div>Employees</div>
  </header>
  <section>
    <article>
        <div class="locations-edit-users">
          <%= render partial: "users", locals: { users: location.users } %>
        </div>
    </article>
  </section>
</div>
