<div class="rail narrow">
  <section>
    <aside>
      <%= render partial: "sidebar" %>
    </aside>

    <article>

      <div class="frame">
        <section>
          <article>
            <%= render partial: "form", locals: { location: @location } %>
          </article>
        </section>
      </div>

    </article>
  </section>
</div>
