<div class="container-fluid" style="width: 100%; overflow-y: auto; margin-top: 50px padding-bottom: 50px;">
  <div class="row">
    <div class="col-12">
      <div class="calendar-frame">
        <header>
          <div>Locations</div>
          <div></div>
        </header>

        <section>
          kajfkajslfj ajf klasj a<br>skjflkajsfkljskla f<br>
        </section>
      </div>
    </div>
  </div>
</div>
