<div class="frame">
  <header>
    <div><%= @location.name || "Location" %></div>
  </header>

  <section>
    <article>
      <%= AddressFormatter.for(@location).multiline_html %>
    </article>
  </section>
</div>

<div class="frame">
  <header>
    <div>Employees</div>
  </header>

  <section>
    <%= render partial: "users/users",
      locals: {
        users: UserFinder.
          new(location: @location).
          by_location_without(current_user)
      } %>
  </section>
</div>
