<!DOCTYPE html>
<html>
  <head>
    <title>Scheduleless</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'onboarding', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'onboarding', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="frame">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
