
<% @schedules.schedules.each do |schedule| %>
  this is a schedule <br />
<% end %>

<br>

Note this won't schedule for now, you will manually need to do it by location. Need to update some public interfaces to get this to work better.

<footer>
  <div>
    <%= link_to "Back", onboarding_locations_path, class: "button white" %>
  </div>
  <div>
    <%= link_to "Finish!",
      default_calendar_path_for(current_user),
      class: "button orange" %>
  </div>
</footer>

